
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.artikel-naM {
  display: flex;
  flex-direction: column;
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-hnl1-KKP {
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;

    .logo-R7X {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-YC9 {
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .tanggapbanjir-FcM {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .beranda-Ngy {
      cursor: pointer;
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-weight: 700;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
    }
    .layanan-Uzu {
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .kontak-oXP {
      margin: 0.2rem 22rem 0rem 0rem;
      font-size: 1.6rem;
      line-height: 1.5;
      cursor: pointer;
      font-weight: 400;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .daftar-Jj3 {
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #f8f5e7;
      white-space: nowrap;
    }
    .masuk-phP {
      width: 13.3rem;
      line-height: 1.5;
      height: 100%;
      font-weight: 700;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      background-color: #fefefe;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      color: #2c2902;
    }
  }
  .auto-group-b9zs-gzV {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.7rem 12.9rem 9rem 13rem;
    width: 100%;
    align-items: center;

    .tagline-c7T {
      margin: 0rem 0.1rem 3.3rem 0rem;
      width: 118rem;
      flex-shrink: 0;

      .auto-group-ntvm-jhs {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 2.9rem;

        .bencana-banjir-melanda-masyarakat-bersatu-dalam-membantu-korban-5Fw {
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 93.1rem;
          font-size: 4rem;
          font-weight: 600;
        }
        .kumpulan-artikel-kami-P1j {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
      }
      .auto-group-snxr-7Cd {
        background-color: #d9d9d9;
        border-radius: 2.5rem;
        margin-bottom: 1.9rem;
        box-sizing: border-box;
        padding: 1.2rem 2.1rem 1.1rem 1.4rem;
        width: 100%;
        display: flex;
        align-items: center;

        .search-1-2aV {
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 2.1rem 0rem 0rem;
          width: 4rem;
        }
        .judul-tanggal-tempat-xU9 {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 64.2rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .enter-1-VDB {
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          width: 6.6rem;
          height: 4.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
      }
      .banjir-menerjang-kami-memberitakan-1BX {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
      }
    }
    .artikel1-8X3 {
      margin: 0rem 0.1rem 2.9rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      background-color: #ffffff;
      flex-shrink: 0;

      .rectangle-31-ekH {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
      }
      .auto-group-jcyp-BVK {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 2.9rem 0.9rem 2rem;
        height: 100%;
        display: flex;

        .auto-group-w3bp-JZw {
          flex-shrink: 0;
          margin: 0rem 1.154rem 0.117rem 0rem;
          width: 52.9461rem;

          .pengertian-dan-persiapan-menghadapi-banjir-dcD {
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .pengertian-banjir-dan-cara-mengatasi-banjir-di-musim-penghujan-A6M {
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-4Bj {
            margin-bottom: 4.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-kkrv-ndX {
            margin: 0rem 33.946rem 0.5rem 0rem;
            width: calc(100% - 33.9461rem);
            display: flex;
            align-items: flex-end;

            .baca-selengkapnya-vDw {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
            .icon-next-outline-3pM {
              vertical-align: top;
              flex-shrink: 0;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
            }
          }
          .icon-eye-yi1 {
            margin-left: 50.2rem;
            width: 2.7461rem;
            height: 1.9833rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item-187-i9o {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
        }
        .icon-instagram-likes-qER {
          width: 2rem;
          height: 2.0296rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.5rem 0.089rem 0rem;
        }
        .item-145-MCm {
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-comments-5Pf {
          margin: 0rem 0.7rem 0.414rem 0rem;
          width: 2.1rem;
          height: 1.7694rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-96-bso {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .artikel2-XFf {
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 2.9rem 0rem;

      .rectangle-31-roj {
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-rxrk-1Rj {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 2.9rem 0.9rem 2rem;

        .auto-group-hxgu-Liu {
          flex-shrink: 0;
          margin: 0rem 1.154rem 0.117rem 0rem;
          width: 52.9461rem;

          .pengertian-dan-persiapan-menghadapi-banjir-5Ah {
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
          }
          .pengertian-banjir-dan-cara-mengatasi-banjir-di-musim-penghujan-QTs {
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .jakarta-25-september-2023-Kqj {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
          }
          .auto-group-kr4h-f8u {
            margin: 0rem 33.946rem 0.5rem 0rem;
            width: calc(100% - 33.9461rem);
            display: flex;
            align-items: flex-end;

            .baca-selengkapnya-b2Z {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
            .icon-next-outline-WvD {
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.3rem;
            }
          }
          .icon-eye-rDP {
            margin-left: 50.2rem;
            width: 2.7461rem;
            height: 1.9833rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item-187-bAy {
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.1rem 0rem;
          font-size: 1.6rem;
        }
        .icon-instagram-likes-X4d {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.5rem 0.089rem 0rem;
          width: 2rem;
          height: 2.0296rem;
        }
        .item-145-ShP {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .icon-comments-xfj {
          margin: 0rem 0.7rem 0.414rem 0rem;
          width: 2.1rem;
          height: 1.7694rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-96-HT7 {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .artikel3-zMX {
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 2.9rem 0rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;

      .rectangle-31-7BF {
        vertical-align: top;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
      }
      .auto-group-ttx1-dvH {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 2.9rem 0.9rem 2rem;
        height: 100%;
        display: flex;

        .auto-group-fjd7-kzu {
          margin: 0rem 1.154rem 0.117rem 0rem;
          width: 52.9461rem;
          flex-shrink: 0;

          .pengertian-dan-persiapan-menghadapi-banjir-gdf {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
          }
          .pengertian-banjir-dan-cara-mengatasi-banjir-di-musim-penghujan-d37 {
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
          }
          .jakarta-25-september-2023-9GM {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
          }
          .auto-group-vcjb-UZX {
            margin: 0rem 33.946rem 0.5rem 0rem;
            width: calc(100% - 33.9461rem);
            display: flex;
            align-items: flex-end;

            .baca-selengkapnya-DGD {
              flex-shrink: 0;
              margin-right: 0.4rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-next-outline-YpH {
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .icon-eye-tdF {
            width: 2.7461rem;
            height: 1.9833rem;
            object-fit: contain;
            vertical-align: top;
            margin-left: 50.2rem;
          }
        }
        .item-187-RdB {
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.1rem 0rem;
          font-size: 1.6rem;
        }
        .icon-instagram-likes-YSu {
          margin: 0rem 0.5rem 0.089rem 0rem;
          width: 2rem;
          height: 2.0296rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-145-G81 {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .icon-comments-CGZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.414rem 0rem;
          width: 2.1rem;
          height: 1.7694rem;
        }
        .item-96-j1b {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .artikel4-TTP {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.9rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;

      .rectangle-31-BuB {
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-ur3b-jQu {
        box-sizing: border-box;
        padding: 1.6rem 2.9rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-jg5p-RYd {
          flex-shrink: 0;
          margin: 0rem 1.154rem 0.117rem 0rem;
          width: 52.9461rem;

          .pengertian-dan-persiapan-menghadapi-banjir-uyb {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .pengertian-banjir-dan-cara-mengatasi-banjir-di-musim-penghujan-qsF {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
          }
          .jakarta-25-september-2023-mW1 {
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.3rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
          .auto-group-tz4v-Vwo {
            align-items: flex-end;
            margin: 0rem 33.946rem 0.5rem 0rem;
            width: calc(100% - 33.9461rem);
            display: flex;

            .baca-selengkapnya-3Cd {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
            .icon-next-outline-xaV {
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.3rem;
            }
          }
          .icon-eye-6gh {
            object-fit: contain;
            vertical-align: top;
            margin-left: 50.2rem;
            width: 2.7461rem;
            height: 1.9833rem;
          }
        }
        .item-187-3M3 {
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .icon-instagram-likes-N8R {
          height: 2.0296rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.5rem 0.089rem 0rem;
          width: 2rem;
        }
        .item-145-6KK {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .icon-comments-RMb {
          margin: 0rem 0.7rem 0.414rem 0rem;
          width: 2.1rem;
          height: 1.7694rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-96-kem {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .artikel5-szH {
      flex-shrink: 0;
      margin: 0rem 0rem 2.9rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;

      .rectangle-31-cS5 {
        vertical-align: top;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
      }
      .auto-group-v4hp-ACh {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 2.9rem 0.9rem 2rem;

        .auto-group-ogfj-54m {
          flex-shrink: 0;
          margin: 0rem 1.154rem 0.117rem 0rem;
          width: 52.9461rem;

          .pengertian-dan-persiapan-menghadapi-banjir-njs {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .pengertian-banjir-dan-cara-mengatasi-banjir-di-musim-penghujan-KE1 {
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .jakarta-25-september-2023-e1P {
            margin-bottom: 4.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-ynpz-Ze9 {
            display: flex;
            align-items: flex-end;
            margin: 0rem 33.946rem 0.5rem 0rem;
            width: calc(100% - 33.9461rem);

            .baca-selengkapnya-J5w {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4rem;
            }
            .icon-next-outline-dP7 {
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .icon-eye-a3T {
            vertical-align: top;
            margin-left: 50.2rem;
            width: 2.7461rem;
            height: 1.9833rem;
            object-fit: contain;
          }
        }
        .item-187-7JH {
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .icon-instagram-likes-Ds7 {
          margin: 0rem 0.5rem 0.089rem 0rem;
          width: 2rem;
          height: 2.0296rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-145-k6M {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .icon-comments-GaV {
          margin: 0rem 0.7rem 0.414rem 0rem;
          width: 2.1rem;
          height: 1.7694rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-96-o4d {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .artikel6-KHs {
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5.3rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;

      .rectangle-31-SdP {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
      }
      .auto-group-ffoo-Bqs {
        box-sizing: border-box;
        padding: 1.6rem 2.9rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-o3xd-W7T {
          margin: 0rem 1.154rem 0.117rem 0rem;
          width: 52.9461rem;
          flex-shrink: 0;

          .pengertian-dan-persiapan-menghadapi-banjir-o6Z {
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
          }
          .pengertian-banjir-dan-cara-mengatasi-banjir-di-musim-penghujan-izD {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.2rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
          }
          .jakarta-25-september-2023-SfK {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.3rem;
          }
          .auto-group-4ylv-aFj {
            margin: 0rem 33.946rem 0.5rem 0rem;
            width: calc(100% - 33.9461rem);
            display: flex;
            align-items: flex-end;

            .baca-selengkapnya-W9P {
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4rem;
              font-size: 1.6rem;
            }
            .icon-next-outline-EbB {
              flex-shrink: 0;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .icon-eye-NBb {
            margin-left: 50.2rem;
            width: 2.7461rem;
            height: 1.9833rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item-187-Vn1 {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.1rem 0rem;
        }
        .icon-instagram-likes-d7X {
          margin: 0rem 0.5rem 0.089rem 0rem;
          width: 2rem;
          height: 2.0296rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-145-Z1B {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.1rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .icon-comments-HSy {
          width: 2.1rem;
          height: 1.7694rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.414rem 0rem;
        }
        .item-96-ow7 {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .selanjutnya-Ydo {
      padding: 2rem 3.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 94.4rem;
      width: calc(100% - 94.4rem);
      cursor: pointer;
      background-color: #f3faec;
      border-radius: 1rem;
      box-sizing: border-box;

      .selanjutnya-gED {
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.4rem;
        font-size: 2rem;
        font-weight: 700;
      }
      .icon-arrow-right-23B {
        margin-top: 0.1rem;
        width: 2.8rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .footer-86D {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-ztiq-5XF {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-ywyw-d2y {
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;

        .tentang-kita-wpM {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .kontak-fVT {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .tags-CkH {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }
      .auto-group-p91k-9Qd {
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-UC1 {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-od4u-KCd {
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);

          .vector-dDK {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-maR {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
          }
          .auto-group-5ysm-WY1 {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
          }
        }
        .auto-group-eg3b-FEh {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;

          .jalan-mawar-no01-jakarta-PLu {
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item-0812-8764-8757-ity {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
          }
          .tanggapbanjirgmailcom-3wF {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .auto-group-69sz-ntq {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;

          .auto-group-ahdk-jp5 {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-3zi5-tBB {
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;

              .auto-group-pxi1-cN5 {
                line-height: 1.5;
                align-items: center;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                width: 10rem;
                height: 100%;
                font-weight: 400;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 1rem;
                margin-right: 0.3rem;
                font-size: 1.4rem;
                white-space: nowrap;
                background-color: #f3faec;
              }
              .auto-group-b6wd-t4h {
                display: flex;
                background-color: #f3faec;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                white-space: nowrap;
                color: #000000;
                align-items: center;
                width: 10.5rem;
                height: 100%;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                justify-content: center;
                border-radius: 1rem;
              }
            }
            .auto-group-6czm-xaM {
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;

              .auto-group-5m6z-tiu {
                color: #000000;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.4rem;
                line-height: 1.5;
                justify-content: center;
                width: 14.9rem;
                height: 100%;
                align-items: center;
                background-color: #f3faec;
                border-radius: 1rem;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                font-weight: 400;
                display: flex;
              }
              .auto-group-jvk9-abj {
                color: #000000;
                white-space: nowrap;
                display: flex;
                line-height: 1.5;
                font-weight: 400;
                align-items: center;
                justify-content: center;
                border-radius: 1rem;
                flex-shrink: 0;
                font-size: 1.4rem;
                height: 100%;
                font-family: Poppins, 'Source Sans Pro';
                background-color: #f3faec;
                width: 11.7rem;
              }
            }
          }
          .auto-group-ygjd-HFF {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-zzed-qGm {
              height: 100%;
              background-color: #f3faec;
              font-size: 1.4rem;
              font-weight: 400;
              border-radius: 1rem;
              width: 12.5rem;
              line-height: 1.5;
              display: flex;
              margin-right: 0.4rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
            }
            .auto-group-2kuh-Khj {
              color: #000000;
              white-space: nowrap;
              align-items: center;
              border-radius: 1rem;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #f3faec;
              width: 16.6rem;
              height: 100%;
              font-size: 1.4rem;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
      .line-1-CmX {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-cxfp-jWZ {
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;

        .vector-4Hw {
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .senin-minggu-24-jam-BtM {
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
        }
        .auto-group-zdyd-WQq {
          height: 3rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          background-color: #f3faec;
          display: flex;
          margin: 0rem 0.3rem 0.3rem 0rem;
          width: 14.3rem;
          font-family: Poppins, 'Source Sans Pro';
          border-radius: 1rem;
          font-size: 1.4rem;
          justify-content: center;
          flex-shrink: 0;
        }
        .auto-group-imzj-BG5 {
          display: flex;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          height: 3rem;
          font-size: 1.4rem;
          color: #000000;
          line-height: 1.5;
          background-color: #f3faec;
          width: 11.8rem;
          white-space: nowrap;
          justify-content: center;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          border-radius: 1rem;
        }
      }
      .auto-group-hua9-TzH {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 400;
        display: flex;
        align-items: center;
        background-color: #f3faec;
        height: 3rem;
        left: 100.7rem;
        top: 22.4rem;
        white-space: nowrap;
        border-radius: 1rem;
        width: 18rem;
        position: absolute;
        font-size: 1.4rem;
        justify-content: center;
      }
      .line-2-M45 {
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
      }
      .hubungi-kami-UuP {
        width: 11.6rem;
        top: 29.8rem;
        font-size: 1.6rem;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        left: 65.4rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .auto-group-ebym-PmT {
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;

        .auto-group-ue5w-uUu {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
        }
        .tanggapbanjirgmailcom-2ZX {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
        }
        .auto-group-rmrz-M61 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-sa9 {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
        }
        .auto-group-j7fx-bm3 {
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
        }
        .tanggapbanjir123-LCq {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
        }
        .auto-group-kqbx-4Pj {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
        }
        .tanggapbanjir123-ass {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
    .auto-group-d8w5-7N1 {
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;

      .copyright2023-SfB {
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
      }
      .icon-copyright-y9K {
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
      }
    }
  }
}
