
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bacaberita-ri5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #82cd47;

  .auto-group-epmt-o7X {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;

    .logo-WGq {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-SgH {
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tanggapbanjir-xPj {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .beranda-fow {
      font-weight: 700;
      line-height: 1.5;
      cursor: pointer;
      font-size: 1.6rem;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
    }
    .layanan-ag1 {
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .kontak-WJm {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #f8f5e7;
      margin: 0.2rem 22rem 0rem 0rem;
      font-weight: 400;
    }
    .daftar-cMo {
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #f8f5e7;
    }
    .buttonmasuk-Kn1 {
      line-height: 1.5;
      align-items: center;
      justify-content: center;
      border-radius: 1rem;
      flex-shrink: 0;
      white-space: nowrap;
      height: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      color: #2c2902;
      display: flex;
      background-color: #fefefe;
      width: 13.3rem;
      cursor: pointer;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .auto-group-umgd-Q2m {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.7rem 12.9rem 6.3rem 13rem;

    .tagline-i3T {
      margin: 0rem 0.1rem 1.9rem 0rem;
      width: 118rem;
      flex-shrink: 0;

      .auto-group-ifw1-qds {
        box-sizing: border-box;
        padding-bottom: 2.9rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        .bencana-banjir-melanda-masyarakat-bersatu-dalam-membantu-korban-mnR {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 93.1rem;
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
        }
        .kumpulan-berita-terkini-VCd {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-wxbb-Rc5 {
        box-sizing: border-box;
        padding: 1.2rem 2.1rem 1.1rem 1.4rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 2.5rem;
        margin-bottom: 1.9rem;

        .search-1-Ygh {
          flex-shrink: 0;
          margin: 0.2rem 2.1rem 0rem 0rem;
          width: 4rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .judul-tanggal-tempat-g2D {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 64.2rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .enter-1-CmF {
          width: 6.6rem;
          height: 4.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
        }
      }
      .banjir-menerjang-kami-memberitakan-6rd {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .berita1-RP7 {
      border-radius: 1rem;
      flex-shrink: 0;
      width: calc(100% - 0.1rem);
      cursor: pointer;
      display: flex;
      background-color: #ffffff;
      margin: 0rem 0.1rem 3.5rem 0rem;
      height: 20.5rem;
      align-items: center;

      .rectangle-31-YCq {
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .auto-group-cfpf-4gy {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .auto-group-7zau-zqX {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.1rem 0rem;
          width: 73rem;

          .auto-group-qfw9-vjB {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;

            .banjir-bandang-5MB {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
            }
            .jakarta-selatan-21-september-2023-DCV {
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-wPP {
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-gyox-BoX {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-j4M {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1rem 2.3rem 0rem;
            }
            .icon-next-outline-EWu {
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-eye-wgD {
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.754rem 0.217rem 0rem;
              width: 2.7461rem;
            }
            .item-187-TuT {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .icon-instagram-likes-zeV {
              height: 2.0297rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.7rem 0.17rem 0rem;
              width: 2rem;
            }
            .item-145-WMw {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .icon-comments-3cm {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.3306rem;
              width: 2.1rem;
              height: 1.7694rem;
            }
          }
        }
        .item-96-n4Z {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .berita2-6b3 {
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;

      .rectangle-31-dL5 {
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .auto-group-cwem-ZUd {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;

        .auto-group-aaim-HvR {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;

          .auto-group-h7cd-E4y {
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .banjir-bandang-NBB {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .jakarta-selatan-21-september-2023-JqX {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-RfF {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .auto-group-jqpo-GQy {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-DLD {
              margin: 0rem 0.9rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-next-outline-Y7b {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.2rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
            }
            .icon-eye-egR {
              flex-shrink: 0;
              margin: 0rem 0.854rem 0.217rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-187-yih {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .icon-instagram-likes-iRP {
              margin: 0rem 0.8rem 0.27rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-145-3Cm {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
            }
            .icon-comments-Mz9 {
              height: 1.7694rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.4306rem;
              width: 2.1rem;
            }
          }
        }
        .item-96-Hso {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .berita3-QxR {
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;

      .rectangle-31-jE1 {
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
      }
      .auto-group-9agy-41P {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;

        .auto-group-pszw-Brh {
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-6xzh-KCD {
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .banjir-bandang-rhw {
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .jakarta-selatan-21-september-2023-153 {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-L7K {
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
            }
          }
          .auto-group-yhey-anM {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-Xhb {
              flex-shrink: 0;
              margin: 0rem 0.9rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-next-outline-TLM {
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .icon-eye-mM3 {
              margin: 0rem 0.854rem 0.217rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-187-gU1 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
            }
            .icon-instagram-likes-DTw {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.8rem 0.17rem 0rem;
              width: 2rem;
              height: 2.0296rem;
            }
            .item-145-wPw {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .icon-comments-gMX {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.5306rem;
              width: 2.1rem;
              height: 1.7694rem;
            }
          }
        }
        .item-96-oh3 {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .berita4-jKo {
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);

      .rectangle-31-rfK {
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
      }
      .auto-group-pt1w-zWd {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;

        .auto-group-eilr-XWZ {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;
          align-items: center;
          display: flex;

          .auto-group-wfds-FhT {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;

            .banjir-bandang-oU5 {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .jakarta-selatan-21-september-2023-YRf {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-rx9 {
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
            }
          }
          .auto-group-unlh-7NH {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-s6Z {
              margin: 0rem 0.9rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-next-outline-bHT {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.2rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
            }
            .icon-eye-6zu {
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.854rem 0.117rem 0rem;
              width: 2.7461rem;
            }
            .item-187-RnH {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
            }
            .icon-instagram-likes-NBj {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.8rem 0.07rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
            }
            .item-145-gy7 {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
            }
            .icon-comments-dNZ {
              height: 1.7694rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.3306rem;
              width: 2.1rem;
            }
          }
        }
        .item-96-ZGD {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .berita5-gbj {
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;

      .rectangle-31-ogM {
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .auto-group-4cgh-wGm {
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-usbb-585 {
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-vbbp-11j {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;

            .banjir-bandang-Lph {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
            }
            .jakarta-selatan-21-september-2023-HV3 {
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-QpZ {
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-dhgd-rgZ {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-D1K {
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.8rem 2.3rem 0rem;
              font-size: 1.6rem;
            }
            .icon-next-outline-wCD {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 36rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
            }
            .icon-eye-41w {
              margin: 0rem 0.854rem 0.317rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-187-yPo {
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .icon-instagram-likes-Wed {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.8rem 0.27rem 0rem;
              width: 2rem;
              height: 2.0296rem;
            }
            .item-145-EqX {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
            }
            .icon-comments-n6M {
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.5306rem;
              width: 2.1rem;
              height: 1.7694rem;
              object-fit: contain;
            }
          }
        }
        .item-96-stV {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
        }
      }
    }
    .berita6-c5P {
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 6.4rem 0rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;

      .rectangle-31-KVb {
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
      }
      .auto-group-ttc5-eGy {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;

        .auto-group-893f-Zuj {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.1rem 0rem;
          width: 73rem;

          .auto-group-vss5-J6d {
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .banjir-bandang-2oK {
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .jakarta-selatan-21-september-2023-ZoF {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-HjF {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .auto-group-cnbk-LSd {
            align-items: flex-end;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .baca-deskripsi-UYq {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
            }
            .icon-next-outline-c9F {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
            }
            .icon-eye-XX7 {
              margin: 0rem 0.754rem 0.317rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-187-FT7 {
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-instagram-likes-PJR {
              margin: 0rem 0.7rem 0.27rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-145-7VK {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4rem;
              font-size: 1.6rem;
            }
            .icon-comments-TZB {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.5306rem;
              width: 2.1rem;
              height: 1.7694rem;
            }
          }
        }
        .item-96-b9b {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .selanjutnya-X3F {
      margin-left: 94.4rem;
      width: calc(100% - 94.4rem);
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2rem 3.5rem;
      cursor: pointer;
      align-items: center;
      background-color: #f3faec;

      .selanjutnya-3nH {
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.4rem;
        font-size: 2rem;
        font-weight: 700;
      }
      .icon-arrow-right-zBj {
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 2.8rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .footer-6Em {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-bwzu-FNZ {
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;
      width: 100%;

      .auto-group-yrp7-ntH {
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;

        .tentang-kita-7ff {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .kontak-TDj {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .tags-zDf {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-hf7f-LHX {
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-ybP {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-1mpv-dA9 {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;

          .vector-jiy {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
          }
          .telephone-call-2-1-5nq {
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-it3j-cnm {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-w1u3-xbj {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-6C9 {
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-0812-8764-8757-25o {
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tanggapbanjirgmailcom-9gD {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
          }
        }
        .auto-group-7udj-gw3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;

          .auto-group-iqrd-Ehf {
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-e985-Bso {
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;

              .auto-group-1gyp-6zm {
                height: 100%;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                background-color: #f3faec;
                flex-shrink: 0;
                font-weight: 400;
                border-radius: 1rem;
                display: flex;
                margin-right: 0.3rem;
                width: 10rem;
                font-size: 1.4rem;
                line-height: 1.5;
                color: #2c2902;
                white-space: nowrap;
                justify-content: center;
              }
              .auto-group-e1g5-mr1 {
                font-size: 1.4rem;
                white-space: nowrap;
                height: 100%;
                align-items: center;
                color: #000000;
                display: flex;
                justify-content: center;
                background-color: #f3faec;
                flex-shrink: 0;
                width: 10.5rem;
                font-weight: 400;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 1rem;
              }
            }
            .auto-group-7wpd-UEd {
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.5rem;

              .auto-group-svlm-QPB {
                height: 100%;
                font-weight: 400;
                white-space: nowrap;
                justify-content: center;
                width: 14.9rem;
                color: #000000;
                border-radius: 1rem;
                align-items: center;
                flex-shrink: 0;
                margin-right: 0.4rem;
                font-size: 1.4rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                background-color: #f3faec;
              }
              .auto-group-6eyw-JDf {
                color: #000000;
                display: flex;
                font-weight: 400;
                white-space: nowrap;
                flex-shrink: 0;
                width: 11.7rem;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                background-color: #f3faec;
                border-radius: 1rem;
                height: 100%;
                line-height: 1.5;
              }
            }
          }
          .auto-group-yzh7-CK3 {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            display: flex;

            .auto-group-6xxw-9VB {
              background-color: #f3faec;
              flex-shrink: 0;
              width: 12.5rem;
              height: 100%;
              font-size: 1.4rem;
              line-height: 1.5;
              display: flex;
              white-space: nowrap;
              border-radius: 1rem;
              color: #000000;
              justify-content: center;
              margin-right: 0.4rem;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              align-items: center;
            }
            .auto-group-g65f-SDP {
              width: 16.6rem;
              font-weight: 400;
              line-height: 1.5;
              justify-content: center;
              background-color: #f3faec;
              height: 100%;
              color: #000000;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: center;
              border-radius: 1rem;
            }
          }
        }
      }
      .line-1-7qK {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-kenu-eaM {
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;

        .vector-AYh {
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .senin-minggu-24-jam-tzV {
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-iw1k-RjX {
          margin: 0rem 0.3rem 0.3rem 0rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          align-items: center;
          justify-content: center;
          height: 3rem;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 14.3rem;
          font-size: 1.4rem;
          white-space: nowrap;
          display: flex;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #f3faec;
        }
        .auto-group-k6q1-6Ks {
          height: 3rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          border-radius: 1rem;
          font-size: 1.4rem;
          font-weight: 400;
          display: flex;
          background-color: #f3faec;
          margin-bottom: 0.3rem;
          width: 11.8rem;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-hchw-mwo {
        width: 18rem;
        height: 3rem;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        background-color: #f3faec;
        position: absolute;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        display: flex;
        left: 100.7rem;
        top: 22.4rem;
        font-weight: 400;
        border-radius: 1rem;
      }
      .line-2-7PP {
        height: 0.5rem;
        position: absolute;
        left: 12.1992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
      }
      .hubungi-kami-SgZ {
        width: 11.6rem;
        position: absolute;
        font-size: 1.6rem;
        white-space: nowrap;
        height: 2.4rem;
        left: 65.4rem;
        top: 29.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-qumt-khF {
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;

        .auto-group-evxt-f3X {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjirgmailcom-agH {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-7glr-VYM {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjir123-pKj {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-l137-9N1 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-4zm {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-nllh-CbB {
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjir123-8jj {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
      }
    }
    .auto-group-baa5-Tn1 {
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;

      .copyright2023-nJV {
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
      }
      .icon-copyright-hwF {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
