
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bacaberitaselanjutnya-X1T {
  flex-direction: column;
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-8nch-S8R {
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;

    .logo-Xff {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-5ah {
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
      }
      .tanggapbanjir-nk1 {
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .beranda-to3 {
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      line-height: 1.5;
      font-weight: 700;
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-size: 1.6rem;
    }
    .layanan-bxM {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
    }
    .kontak-vUq {
      white-space: nowrap;
      margin: 0.2rem 22rem 0rem 0rem;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .daftar-F1K {
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .masuk-mEZ {
      font-weight: 700;
      line-height: 1.5;
      color: #2c2902;
      white-space: nowrap;
      height: 100%;
      justify-content: center;
      border-radius: 1rem;
      width: 13.3rem;
      cursor: pointer;
      font-size: 1.6rem;
      align-items: center;
      background-color: #fefefe;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
    }
  }
  .auto-group-zkcz-DsF {
    box-sizing: border-box;
    padding: 6.4rem 12.9rem 10.2rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .tagline-UYH {
      margin: 0rem 0.1rem 5.3rem 0rem;
      width: 118rem;
      flex-shrink: 0;

      .kumpulan-berita-terkini-zFj {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.1rem;
      }
      .auto-group-co1b-ViH {
        align-items: center;
        background-color: #d9d9d9;
        border-radius: 2.5rem;
        margin-bottom: 0.5rem;
        box-sizing: border-box;
        padding: 1.2rem 1.7rem 1.1rem 1.5rem;
        width: 100%;
        display: flex;

        .search-1-R69 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 2.1rem 0rem 0rem;
          width: 4rem;
          height: 4rem;
          object-fit: cover;
        }
        .nama-lengkap-profesi-usia-vob {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 57.4rem;
        }
        .enter-1-T2q {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 6.6rem;
          height: 4.3rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .banjir-menerjang-kami-memberitakan-Mtu {
        margin-left: 0.1rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .berita1-5a1 {
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;
      height: 20.5rem;
      cursor: pointer;
      width: calc(100% - 0.1rem);
      display: flex;
      background-color: #ffffff;

      .rectangle-31-oW1 {
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .auto-group-zyqm-vKj {
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-6s4u-emX {
          width: 73rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.1rem 0rem;

          .auto-group-bpbf-BWZ {
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .banjir-bandang-Ksf {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
            .jakarta-selatan-21-september-2023-Tiy {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-aYh {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .auto-group-f8fj-1e1 {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-krV {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1rem 2.3rem 0rem;
            }
            .icon-next-outline-fyT {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
            }
            .icon-eye-n2V {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.754rem 0.217rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
            }
            .item-187-VSh {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .icon-instagram-likes-DtV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.7rem 0.17rem 0rem;
              width: 2rem;
              height: 2.0297rem;
            }
            .item-145-wpV {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .icon-comments-gn5 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.3306rem;
              width: 2.1rem;
              height: 1.7694rem;
            }
          }
        }
        .item-96-RUm {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .berita2-YZP {
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 3.5rem 0rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;

      .rectangle-31-GkH {
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .auto-group-tsnd-1C5 {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;

        .auto-group-x8qp-KyT {
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.1rem 0rem;
          width: 73rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-mdqm-TZs {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .banjir-bandang-1LV {
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .jakarta-selatan-21-september-2023-M9T {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-GXK {
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-vaxh-vLy {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-U7b {
              flex-shrink: 0;
              margin: 0rem 1rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-next-outline-nty {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
            }
            .icon-eye-JsK {
              flex-shrink: 0;
              margin: 0rem 0.754rem 0.217rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-187-SCq {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.5rem;
            }
            .icon-instagram-likes-N6V {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.7rem 0.17rem 0rem;
              width: 2rem;
              height: 2.0297rem;
              object-fit: contain;
            }
            .item-145-sZ3 {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .icon-comments-1QM {
              flex-shrink: 0;
              margin-bottom: 0.3306rem;
              width: 2.1rem;
              height: 1.7694rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .item-96-Y9P {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .berita3-SEm {
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);

      .rectangle-31-m29 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
      }
      .auto-group-kjvy-5oX {
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;

        .auto-group-xzwt-zfb {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;
          align-items: center;
          display: flex;

          .auto-group-jhzh-vZF {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;

            .banjir-bandang-UKs {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
            }
            .jakarta-selatan-21-september-2023-cgy {
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-wz9 {
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
          .auto-group-ufsp-zxR {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-YU9 {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.9rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .icon-next-outline-UMo {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.2rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
            }
            .icon-eye-Bn1 {
              flex-shrink: 0;
              margin: 0rem 0.854rem 0.217rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-187-ui1 {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .icon-instagram-likes-eQh {
              flex-shrink: 0;
              margin: 0rem 0.8rem 0.27rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-145-kid {
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-comments-tZw {
              margin-bottom: 0.4306rem;
              width: 2.1rem;
              height: 1.7694rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .item-96-DcD {
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }
    .berita4-MCd {
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;

      .rectangle-31-UY9 {
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
      }
      .auto-group-ls8z-Pv1 {
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-djfk-Kof {
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-udmb-f6q {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;

            .banjir-bandang-CcZ {
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
            .jakarta-selatan-21-september-2023-k8H {
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-H8D {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
            }
          }
          .auto-group-vwzb-XYM {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-5Jy {
              flex-shrink: 0;
              margin: 0rem 0.9rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-next-outline-QMF {
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .icon-eye-vaV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.854rem 0.217rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
            }
            .item-187-3v1 {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .icon-instagram-likes-nsb {
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.8rem 0.17rem 0rem;
              width: 2rem;
            }
            .item-145-Jb3 {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .icon-comments-eQ1 {
              flex-shrink: 0;
              margin-bottom: 0.5306rem;
              width: 2.1rem;
              height: 1.7694rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .item-96-PMb {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .berita5-Wx1 {
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);

      .rectangle-31-3h3 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
      }
      .auto-group-vwus-BHT {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;

        .auto-group-sb3p-uz9 {
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-dj37-qso {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;

            .banjir-bandang-PPX {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .jakarta-selatan-21-september-2023-XVj {
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-rnu {
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .auto-group-1red-hHj {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-3Mb {
              flex-shrink: 0;
              margin: 0rem 0.9rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .icon-next-outline-yFF {
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.2rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
            .icon-eye-hBF {
              margin: 0rem 0.854rem 0.117rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-187-2DX {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
            }
            .icon-instagram-likes-mB7 {
              flex-shrink: 0;
              margin: 0rem 0.8rem 0.07rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-145-gos {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .icon-comments-EKb {
              flex-shrink: 0;
              margin-bottom: 0.3306rem;
              width: 2.1rem;
              height: 1.7694rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .item-96-ADF {
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
    }
    .berita6-gxH {
      flex-shrink: 0;
      margin: 0rem 0rem 3.5rem 0.1rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 1rem;

      .rectangle-31-nVX {
        width: 38rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
      }
      .auto-group-nyyx-i8H {
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-jhkm-3AZ {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.1rem 0rem;
          width: 72.9rem;

          .auto-group-7vsm-mMT {
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .banjir-bandang-WZw {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .jakarta-selatan-21-september-2023-45f {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-aph {
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
            }
          }
          .auto-group-bezx-qVj {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            align-items: flex-end;

            .baca-deskripsi-aTK {
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0.8rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
            }
            .icon-next-outline-uVb {
              height: 2.3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 36rem 2.4rem 0rem;
              width: 2.3rem;
            }
            .icon-eye-RD3 {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.854rem 0.317rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
            }
            .item-187-M6h {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .icon-instagram-likes-BrR {
              margin: 0rem 0.8rem 0.27rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-145-uXX {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.9rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .icon-comments-3Nq {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.5306rem;
              width: 2.1rem;
              height: 1.7694rem;
            }
          }
        }
        .item-96-yGV {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .berita7-uR3 {
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 4.6rem 0rem;
      width: calc(100% - 0.1rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;

      .rectangle-31-drq {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem 0 0 1rem;
        flex-shrink: 0;
        width: 38rem;
        height: 20.5rem;
      }
      .auto-group-hcnm-B7f {
        box-sizing: border-box;
        padding: 1.7rem 2.3rem 0.9rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-e5vb-upM {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.1rem 0rem;
          width: 73rem;

          .auto-group-acyx-Erd {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.9rem;
            width: 100%;
            display: flex;

            .banjir-bandang-ndF {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
            .jakarta-selatan-21-september-2023-L8y {
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .bergabunglah-relawan-bersama-kita-bisa-menyelamatkan-nyawa-dan-memberikan-harapan-kepada-mereka-yang-membutuhkan-dalam-situasi-darurat-banjir-tindakan-anda-bisa-membuat-perbedaan-besar-daftar-sebagai-relawan-banjir-hari-ini-fBF {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 72rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .auto-group-yvwd-urH {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .baca-deskripsi-fKf {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 1rem 2.3rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .icon-next-outline-PmT {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 35.9rem 2.4rem 0rem;
              width: 2.3rem;
              height: 2.3rem;
              position: relative;
              object-fit: contain;
            }
            .icon-eye-7SZ {
              flex-shrink: 0;
              margin: 0rem 0.754rem 0.317rem 0rem;
              width: 2.7461rem;
              height: 1.9833rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-187-eBb {
              margin-right: 4.5rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-instagram-likes-ab3 {
              margin: 0rem 0.7rem 0.27rem 0rem;
              width: 2rem;
              height: 2.0296rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-145-6pH {
              margin-right: 4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .icon-comments-r2m {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.5306rem;
              width: 2.1rem;
              height: 1.7694rem;
            }
          }
        }
        .item-96-yt5 {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-azuy-JfT {
      width: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .sebelumnya-4Pj {
        margin-right: 70.7rem;
        padding: 2rem 3rem 2rem 3.1rem;
        cursor: pointer;
        display: flex;
        background-color: #f3faec;
        border-radius: 1rem;
        box-sizing: border-box;
        height: 100%;
        align-items: center;
        flex-shrink: 0;

        .icon-arrow-right-BjF {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.7rem 0.1rem 0rem;
          width: 2.8rem;
          height: 2.7rem;
          object-fit: contain;
        }
        .sebelumnya-777 {
          font-weight: 700;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
      .selanjutnya-RNh {
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #f3faec;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 3.5rem;

        .selanjutnya-kvm {
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .icon-arrow-right-h5K {
          margin-top: 0.1rem;
          width: 2.8rem;
          height: 2.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
  .footer-QEd {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-2hjz-AUh {
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;
      width: 100%;
      height: 43.5rem;

      .auto-group-lz4h-VWy {
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;

        .tentang-kita-Dhs {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .kontak-Z13 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
        }
        .tags-5zy {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-cmzz-E7B {
        top: 9.1rem;
        display: flex;
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-xJ5 {
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
        }
        .auto-group-tsrk-Qvm {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;

          .vector-Y1P {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-gNV {
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-cp8m-d2q {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-zwuh-AYZ {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-Jem {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
          }
          .item-0812-8764-8757-36Z {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
          }
          .tanggapbanjirgmailcom-Zah {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-wcm7-JHP {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;

          .auto-group-v8ad-qYD {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;

            .auto-group-et29-zR7 {
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-oacz-uY5 {
                line-height: 1.5;
                background-color: #f3faec;
                width: 10rem;
                height: 100%;
                align-items: center;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                color: #2c2902;
                white-space: nowrap;
                justify-content: center;
                margin-right: 0.3rem;
                font-weight: 400;
                flex-shrink: 0;
                font-size: 1.4rem;
                border-radius: 1rem;
              }
              .auto-group-pk1f-o7f {
                justify-content: center;
                white-space: nowrap;
                display: flex;
                align-items: center;
                height: 100%;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                width: 10.5rem;
                background-color: #f3faec;
                border-radius: 1rem;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .auto-group-psbf-HYd {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;

              .auto-group-b1xm-1jX {
                flex-shrink: 0;
                margin-right: 0.4rem;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                border-radius: 1rem;
                justify-content: center;
                height: 100%;
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                width: 14.9rem;
                color: #000000;
                align-items: center;
                background-color: #f3faec;
              }
              .auto-group-qmww-uK7 {
                height: 100%;
                width: 11.7rem;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                font-weight: 400;
                justify-content: center;
                border-radius: 1rem;
                white-space: nowrap;
                line-height: 1.5;
                color: #000000;
                display: flex;
                background-color: #f3faec;
                flex-shrink: 0;
                font-size: 1.4rem;
              }
            }
          }
          .auto-group-bjws-o9b {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;

            .auto-group-ls2v-wmb {
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              background-color: #f3faec;
              margin-right: 0.4rem;
              width: 12.5rem;
              height: 100%;
              line-height: 1.5;
              font-size: 1.4rem;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              align-items: center;
              color: #000000;
              justify-content: center;
              border-radius: 1rem;
            }
            .auto-group-7zph-deR {
              border-radius: 1rem;
              font-size: 1.4rem;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #f3faec;
              height: 100%;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              width: 16.6rem;
              font-weight: 400;
              display: flex;
              flex-shrink: 0;
            }
          }
        }
      }
      .line-1-vdX {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-fkjk-rGH {
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;

        .vector-MTw {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
        }
        .senin-minggu-24-jam-UoT {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-qsmf-cPs {
          color: #000000;
          border-radius: 1rem;
          height: 3rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          background-color: #f3faec;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.3rem 0rem;
          width: 14.3rem;
          line-height: 1.5;
          white-space: nowrap;
          justify-content: center;
          font-size: 1.4rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-mzdf-tcH {
          color: #000000;
          white-space: nowrap;
          background-color: #f3faec;
          margin-bottom: 0.3rem;
          height: 3rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 11.8rem;
          line-height: 1.5;
          align-items: center;
          font-size: 1.4rem;
        }
      }
      .auto-group-xi3s-BrH {
        left: 100.7rem;
        top: 22.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        border-radius: 1rem;
        position: absolute;
        line-height: 1.5;
        align-items: center;
        background-color: #f3faec;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 18rem;
        height: 3rem;
        display: flex;
        justify-content: center;
      }
      .line-2-sDK {
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.8992rem;
        top: 28.5rem;
        background-color: #f3faec;
      }
      .hubungi-kami-Bzh {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        top: 29.8rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #f3faec;
        width: 11.6rem;
        position: absolute;
        left: 65.4rem;
      }
      .auto-group-z12y-uA1 {
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;

        .auto-group-dd93-QsT {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
        }
        .tanggapbanjirgmailcom-juj {
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-cmm3-4BK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-Mw7 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
        }
        .auto-group-bvsf-V1j {
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjir123-QeV {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .auto-group-zdym-8aV {
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjir123-Fv1 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
    .auto-group-ajem-z6u {
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      height: 2.3rem;

      .group-46-vFT {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .copyright2023-5e9 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(44, 41, 2, 0.5);
        }
        .icon-copyright-c8H {
          margin-bottom: 0.0126rem;
          width: 1.3874rem;
          height: 1.3874rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
  }
}
