
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.bacaberita-deskripsi-t6m {
  flex-direction: column;
  background-color: #f3faec;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-xfms-zvV {
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;

    .logo-hpu {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;

      .logo-1-385 {
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tanggapbanjir-9gu {
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .beranda-scu {
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      line-height: 1.5;
      color: #f8f5e7;
    }
    .layanan-nUy {
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
    }
    .kontak-iNd {
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      margin: 0.2rem 22rem 0rem 0rem;
    }
    .daftar-Rnq {
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .masuk-MAh {
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      background-color: #fefefe;
      height: 100%;
      cursor: pointer;
      font-size: 1.6rem;
      border-radius: 1rem;
      width: 13.3rem;
      line-height: 1.5;
      display: flex;
      flex-shrink: 0;
      color: #2c2902;
      white-space: nowrap;
      justify-content: center;
    }
  }
  .auto-group-6bc5-RwF {
    box-sizing: border-box;
    padding: 0.9rem 12.9rem 11.5rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .ketatas-AP3 {
      margin: 0rem 3.7rem 4.1rem 0rem;
      width: 114.4rem;
      border-radius: 1rem;
      flex-shrink: 0;

      .deskripsi-berita-tpq {
        margin-bottom: 2.4rem;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-1h9k-2AM {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 30.5rem;

        .rectangle-35-xZo {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 2rem;
          width: 48rem;
          height: 28.4rem;
        }
        .auto-group-kdof-h1b {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .banjir-bandang-eBj {
            font-size: 3.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .jakarta-selatan-21-september-2023-yjo {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
          }
          .banjir-melanda-kota-cipedak-pada-pukul-1947-wib-yang-mengakibatkan-banyak-warga-mengalami-kehilangan-harta-benda-dan-tidak-dapat-melakukan-aktivitas-fisik-seperti-biasa-kondisi-terakhir-banjir-mencapai-50-cm-sehingga-diperlukan-tindakan-lanjut-dari-pemerintah-dengan-relawan-WDw {
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 64.4rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
    }
    .auto-group-yt9w-JvV {
      width: 100%;
      height: 45.3rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-m21f-fFF {
        margin-right: 12.6rem;
        width: 63.7rem;
        height: 100%;
        flex-shrink: 0;

        .jumlahkorban-cAV {
          row-gap: 1.1rem;
          display: flex;
          flex-direction: column;
          margin-bottom: 2.4rem;

          .jumlah-korban-2345-jiwa-wiZ {
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
          .kerugian--UTb {
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
          }
          .luka-ringan-457-orang-luka-sedang-265-orang-luka-berat-154-orang-pGZ {
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 7.5rem;
            max-width: 29.2rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
          }
        }
        .halygdibutuhkan-WfB {
          width: 100%;
          display: flex;
          flex-direction: column;

          .hal-hal-yang-dibutuhkan--U6D {
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 2.4rem;
            font-weight: 700;
          }
          .bantuan-berupa-makanan-dan-pakaian-yang-digunakan-biaya-perbaikan-rumah-yang-terdampak-tenaga-relawan-dalam-menyalurkan-bantuan-alat-yang-digunakan-untuk-evakuasi-banjir-CY1 {
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 8rem;
            max-width: 55.7rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
      }
      .auto-group-r6wu-rsT {
        margin-bottom: 0.2rem;
        width: 41.8rem;
        flex-shrink: 0;

        .ayo-ikut-membantu-menyelesaikan-bencana-banjir-melalui-donasi-bantuan-yang-anda-berikan-sangat-berarti-bagi-kami-CwK {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0rem 1.9rem 0.4rem;
          max-width: 41.4rem;
        }
        .donasi-5ER {
          width: calc(100% - 18.1rem);
          cursor: pointer;
          align-items: center;
          background-color: #82cd47;
          box-sizing: border-box;
          padding: 1.7rem 5.8rem 1.7rem 5.9rem;
          display: flex;
          border-radius: 1rem;
          margin-right: 18.1rem;

          .donasi-z6V {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
          }
          .icon-next-outline-7wo {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 2.3rem;
            height: 2.3rem;
          }
        }
      }
    }
  }
  .footer-CyF {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-vo3f-Zoo {
      background-color: #2c2902;
      flex-shrink: 0;
      width: 100%;
      height: 43.5rem;
      position: relative;

      .auto-group-9sqj-Wj3 {
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;

        .tentang-kita-Euw {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
        }
        .kontak-aD7 {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .tags-iaD {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-trxz-rwK {
        display: flex;
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-PgM {
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
        }
        .auto-group-gbof-rK3 {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;

          .vector-N2V {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-u2R {
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-bhlu-SY9 {
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6rem;
          }
        }
        .auto-group-vdvt-z3s {
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;

          .jalan-mawar-no01-jakarta-8Qy {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .item-0812-8764-8757-fA1 {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .tanggapbanjirgmailcom-anm {
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
          }
        }
        .auto-group-tuhs-7nh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;

          .auto-group-sqwy-4hw {
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-fnwm-28y {
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-ntju-7w7 {
                color: #2c2902;
                align-items: center;
                flex-shrink: 0;
                margin-right: 0.3rem;
                height: 100%;
                justify-content: center;
                border-radius: 1rem;
                font-weight: 400;
                display: flex;
                white-space: nowrap;
                background-color: #f3faec;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                width: 10rem;
                font-size: 1.4rem;
              }
              .auto-group-nsrd-cN5 {
                height: 100%;
                line-height: 1.5;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                font-size: 1.4rem;
                border-radius: 1rem;
                flex-shrink: 0;
                font-weight: 400;
                align-items: center;
                width: 10.5rem;
                display: flex;
                background-color: #f3faec;
              }
            }
            .auto-group-pbj1-73w {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-dvpv-qEq {
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                flex-shrink: 0;
                height: 100%;
                color: #000000;
                align-items: center;
                margin-right: 0.4rem;
                font-size: 1.4rem;
                font-weight: 400;
                width: 14.9rem;
                line-height: 1.5;
                white-space: nowrap;
                justify-content: center;
                background-color: #f3faec;
                border-radius: 1rem;
              }
              .auto-group-sfu5-7i9 {
                height: 100%;
                font-weight: 400;
                background-color: #f3faec;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                justify-content: center;
                line-height: 1.5;
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 11.7rem;
                color: #000000;
                border-radius: 1rem;
              }
            }
          }
          .auto-group-dokp-DWH {
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;

            .auto-group-cwwp-AgR {
              color: #000000;
              background-color: #f3faec;
              margin-right: 0.4rem;
              height: 100%;
              white-space: nowrap;
              width: 12.5rem;
              font-weight: 400;
              display: flex;
              border-radius: 1rem;
              flex-shrink: 0;
              font-size: 1.4rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
            }
            .auto-group-jkhj-FSy {
              color: #000000;
              white-space: nowrap;
              display: flex;
              height: 100%;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              line-height: 1.5;
              border-radius: 1rem;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #f3faec;
              flex-shrink: 0;
              width: 16.6rem;
              font-size: 1.4rem;
            }
          }
        }
      }
      .line-1-wqb {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-3ubs-5gu {
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;

        .vector-PxV {
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .senin-minggu-24-jam-89P {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-a9xu-TSZ {
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          flex-shrink: 0;
          background-color: #f3faec;
          margin: 0rem 0.3rem 0.3rem 0rem;
          height: 3rem;
          font-weight: 400;
          display: flex;
          font-size: 1.4rem;
          white-space: nowrap;
          width: 14.3rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-pux5-8Yh {
          justify-content: center;
          margin-bottom: 0.3rem;
          height: 3rem;
          font-weight: 400;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          background-color: #f3faec;
          border-radius: 1rem;
          width: 11.8rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-c3hb-dEZ {
        top: 22.4rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        left: 100.7rem;
        color: #000000;
        position: absolute;
        font-weight: 400;
        line-height: 1.5;
        display: flex;
        background-color: #f3faec;
        width: 18rem;
        height: 3rem;
        font-size: 1.4rem;
      }
      .line-2-7Qd {
        background-color: #f3faec;
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.7992rem;
        top: 28.5rem;
      }
      .hubungi-kami-3p5 {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        left: 65.4rem;
        top: 29.8rem;
        font-size: 1.6rem;
        width: 11.6rem;
        position: absolute;
        font-weight: 600;
        color: #f3faec;
      }
      .auto-group-78pq-9cD {
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;

        .auto-group-dnjb-4z5 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
        }
        .tanggapbanjirgmailcom-Q2M {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-nwkb-WbB {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-Ry3 {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-eqcm-m1K {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-HVT {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
        }
        .auto-group-dyiy-RLm {
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
        }
        .tanggapbanjir123-YwB {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
      }
    }
    .auto-group-cubb-V5j {
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;

      .copyright2023-1pm {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
      }
      .icon-copyright-Yph {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
