
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.donasi-kvm {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3faec;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-pg9p-JSV {
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;

    .logo-D3f {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-Yrd {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
      }
      .tanggapbanjir-UVP {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .beranda-c5o {
      font-weight: 700;
      line-height: 1.5;
      cursor: pointer;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
      color: #f8f5e7;
    }
    .layanan-XCm {
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
    }
    .kontak-F8m {
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      margin: 0.2rem 22rem 0rem 0rem;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      cursor: pointer;
    }
    .daftar-m77 {
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
    }
    .masuk-svq {
      width: 13.3rem;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      color: #2c2902;
      justify-content: center;
      background-color: #fefefe;
      border-radius: 1rem;
      height: 100%;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      font-size: 1.6rem;
      display: flex;
    }
  }
  .auto-group-iijd-YXB {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.1rem 13rem 6.6rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;

    .judul-UQq {
      margin: 0rem 20.1rem 4.1rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .bersama-kita-pedulidonasikan-harapan-bantu-korban-banjir-1vZ {
        max-width: 86.2rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.5rem;
      }
      .korban-banjir-membutuhkan-kita-jangan-biarkan-mereka-merasa-sendirian-dalam-menghadapi-bencana-ini-bersama-sama-kita-bisa-memberikan-bantuan-yang-diperlukan-dan-mengembalikan-harapan-dalam-hidup-mereka-uW9 {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 4.5rem;
        max-width: 83.9rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #2c2902;
      }
      .salurkan-bantuan-anda-melalui-transfer-bank-atau-saldo-digital-hari-ini-melalui--Md3 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 17.5rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .auto-group-wfsr-4GZ {
      margin: 0rem 20rem 3.6rem 20rem;
      width: calc(100% - 40rem);
      height: 7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .bca-mgm {
        box-sizing: border-box;
        padding: 0 3rem;
        height: 100%;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 1.8rem;

        .bca-1-vJm {
          width: 12rem;
          height: 7rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .bni-T3o {
        flex-shrink: 0;
        margin-right: 2.2rem;
        box-sizing: border-box;
        padding: 1.6rem 3.2rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;

        .logo-bank-bni-png-1-bA1 {
          object-fit: cover;
          vertical-align: top;
          width: 11.6rem;
          height: 3.8rem;
        }
      }
      .bri-WXs {
        flex-shrink: 0;
        margin-right: 2rem;
        box-sizing: border-box;
        padding: 1.8rem 4.1rem 1.8rem 4rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;

        .logo-bank-bri-baru237-design-1-ee5 {
          width: 9.9rem;
          height: 3.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .mandiri-Zm3 {
        padding: 0.4rem 3rem 0.3rem 3rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .mandiri-1-ua1 {
          width: 12rem;
          height: 6.3rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-evdf-dW1 {
      height: 7.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 30rem 4.5rem 30rem;
      width: calc(100% - 60rem);

      .gopay-kad {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 18rem;

        .gopay-Vo7 {
          height: 7rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
          background-color: #ffffff;
          border-radius: 1rem;
          width: 18rem;
        }
        .gopay-logo-2048x1392-1-q6H {
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 10.6rem;
          height: 7.2rem;
          position: absolute;
          left: 3.7rem;
        }
      }
      .auto-group-uffx-wv1 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0rem 0rem 2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .shoppee-5mK {
          margin-right: 2rem;
          box-sizing: border-box;
          padding: 1.2rem 4.6rem 1.3rem 4.7rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;

          .logo-shopeepay-1-d29 {
            width: 8.7rem;
            height: 4.5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .dana-Yuo {
          padding: 0.8rem 3.9rem 0.8rem 3.8rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .logo-dana-1-hGu {
            height: 5.4rem;
            object-fit: cover;
            vertical-align: top;
            width: 10.3rem;
          }
        }
      }
    }
    .total-donasi-RTo {
      margin-right: 74.1rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .total-donasi-terkumpul--AgH {
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
        font-weight: 700;
      }
      .rp-13657893-uds {
        font-weight: 700;
        line-height: 1.5;
        color: #82cd47;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.2rem;
      }
    }
  }
  .footer-Ew3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .auto-group-3xd3-bmb {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-icru-9YD {
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;

        .tentang-kita-UKb {
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .kontak-osf {
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .tags-wys {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
        }
      }
      .auto-group-yznm-VVb {
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-2Ed {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-jhqv-5ih {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;

          .vector-bww {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
          }
          .telephone-call-2-1-8ws {
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
          }
          .auto-group-majb-Ukq {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
          }
        }
        .auto-group-f6sj-DyK {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-ANm {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
          .item-0812-8764-8757-tZf {
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .tanggapbanjirgmailcom-2A5 {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .auto-group-xca5-8iu {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;

          .auto-group-cjr9-fyj {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-pfzt-DVT {
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);

              .auto-group-vbxu-8sK {
                border-radius: 1rem;
                flex-shrink: 0;
                width: 10rem;
                color: #2c2902;
                line-height: 1.5;
                justify-content: center;
                font-weight: 400;
                white-space: nowrap;
                background-color: #f3faec;
                margin-right: 0.3rem;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                height: 100%;
                font-family: Poppins, 'Source Sans Pro';
              }
              .auto-group-rjjr-pVF {
                font-family: Poppins, 'Source Sans Pro';
                background-color: #f3faec;
                width: 10.5rem;
                height: 100%;
                font-weight: 400;
                line-height: 1.5;
                color: #000000;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
                font-size: 1.4rem;
                white-space: nowrap;
                justify-content: center;
              }
            }
            .auto-group-k4bb-Wss {
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;

              .auto-group-bqqz-4Pb {
                flex-shrink: 0;
                margin-right: 0.4rem;
                line-height: 1.5;
                color: #000000;
                justify-content: center;
                border-radius: 1rem;
                width: 14.9rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 400;
                white-space: nowrap;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                align-items: center;
                background-color: #f3faec;
              }
              .auto-group-kxws-knD {
                line-height: 1.5;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
                width: 11.7rem;
                height: 100%;
                font-weight: 400;
                color: #000000;
                font-size: 1.4rem;
                white-space: nowrap;
                justify-content: center;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                background-color: #f3faec;
              }
            }
          }
          .auto-group-jwch-Suw {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            display: flex;

            .auto-group-mfvy-bnq {
              display: flex;
              align-items: center;
              background-color: #f3faec;
              border-radius: 1rem;
              flex-shrink: 0;
              width: 12.5rem;
              height: 100%;
              font-size: 1.4rem;
              white-space: nowrap;
              justify-content: center;
              color: #000000;
              margin-right: 0.4rem;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .auto-group-c1qm-gpH {
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              align-items: center;
              line-height: 1.5;
              justify-content: center;
              border-radius: 1rem;
              white-space: nowrap;
              font-size: 1.4rem;
              background-color: #f3faec;
              width: 16.6rem;
              font-weight: 400;
              color: #000000;
              flex-shrink: 0;
              height: 100%;
            }
          }
        }
      }
      .line-1-BFF {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-rphj-Jqf {
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;

        .vector-d7F {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
        }
        .senin-minggu-24-jam-Yzu {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
        }
        .auto-group-n5az-UtZ {
          width: 14.3rem;
          height: 3rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: #000000;
          background-color: #f3faec;
          flex-shrink: 0;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          border-radius: 1rem;
          margin: 0rem 0.3rem 0.3rem 0rem;
          align-items: center;
          justify-content: center;
        }
        .auto-group-gsg1-mcm {
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          line-height: 1.5;
          justify-content: center;
          height: 3rem;
          font-size: 1.4rem;
          font-weight: 400;
          white-space: nowrap;
          border-radius: 1rem;
          width: 11.8rem;
          color: #000000;
          align-items: center;
          background-color: #f3faec;
          margin-bottom: 0.3rem;
        }
      }
      .auto-group-5aru-fTF {
        border-radius: 1rem;
        color: #000000;
        font-weight: 400;
        position: absolute;
        font-size: 1.4rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        height: 3rem;
        left: 100.7rem;
        top: 22.4rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        background-color: #f3faec;
        width: 18rem;
      }
      .line-2-L3b {
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
      }
      .hubungi-kami-fbf {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.6rem;
        top: 29.8rem;
        font-size: 1.6rem;
        font-weight: 600;
        color: #f3faec;
        height: 2.4rem;
        position: absolute;
        left: 65.4rem;
        line-height: 1.5;
      }
      .auto-group-bqi9-Nky {
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;

        .auto-group-nsc9-hHT {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
        }
        .tanggapbanjirgmailcom-pcy {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
        }
        .auto-group-rbqd-99T {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-ftV {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-5wxh-c33 {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjir123-vpR {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-rep1-ri5 {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-zJV {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
        }
      }
    }
    .auto-group-4kko-Wnd {
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      height: 2.3rem;
      display: flex;
      align-items: center;

      .copyright2023-dsF {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
      }
      .icon-copyright-a1o {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
