
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.formdonasilanjut-25X {
  display: flex;
  flex-direction: column;
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-gvp1-vwb {
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;

    .logo-S9F {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-Zjf {
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
      }
      .tanggapbanjir-5T7 {
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .beranda-bRT {
      font-family: Poppins, 'Source Sans Pro';
      cursor: pointer;
      line-height: 1.5;
      color: #f8f5e7;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
    }
    .layanan-W2d {
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .kontak-2mf {
      margin: 0.2rem 22rem 0rem 0rem;
      cursor: pointer;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .daftar-Yzu {
      font-weight: 400;
      color: #f8f5e7;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      cursor: pointer;
    }
    .masuk-Gg1 {
      align-items: center;
      flex-shrink: 0;
      width: 13.3rem;
      font-family: Poppins, 'Source Sans Pro';
      border-radius: 1rem;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #2c2902;
      white-space: nowrap;
      height: 100%;
      font-weight: 700;
      display: flex;
      justify-content: center;
      background-color: #fefefe;
    }
  }
  .batasbayar-kLH {
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 16.4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 1.3rem 14.4rem 2.5rem 13.3rem;
    background-color: #f3faec;
    flex-shrink: 0;

    .auto-group-5geu-U1P {
      margin-right: 30.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .batas-waktu-pembayaran-1n1 {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .selasa-3-oktober-2023-YX3 {
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3.6rem;
        font-weight: 400;
      }
    }
    .three-oclock-1-spD {
      flex-shrink: 0;
      margin: 7.1rem 1.6rem 0rem 0rem;
      width: 4.3rem;
      height: 4.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .item-09-58-24-Q3T {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 7.2rem;
      text-align: right;
      font-size: 3.6rem;
      line-height: 1.5;
      font-weight: 400;
      color: #2c2902;
    }
  }
  .auto-group-gnr7-tjK {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.2rem 13.3rem 7.5rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;

    .qrcode-cfK {
      flex-shrink: 0;
      margin: 0rem 29.4rem 3.5rem 0rem;
      display: flex;
      flex-direction: column;

      .scan-qr-code-xUH {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.1rem;
      }
      .auto-group-56c1-HmT {
        margin-left: 29.7rem;
        box-sizing: border-box;
        padding: 3rem 3.4rem;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-shrink: 0;

        .qr-code-1-pmP {
          width: 51.2rem;
          height: 51.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .jumlahdonasi-9Ym {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 1.2rem 0.6rem 0.7rem;
      align-items: center;
      background-color: #f8f5e7;
      border-radius: 1rem;
      width: 100%;
      height: 15.2rem;
      display: flex;

      .auto-group-tph7-U5F {
        margin: 0rem 73.5rem 1.4rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .total-donasi-1ay {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #2c2902;
        }
        .rp-0-Yqo {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 4.8rem;
          font-weight: 700;
          line-height: 1.5;
          color: #2c2902;
        }
      }
      .status-W1w {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin: 2.9rem 0rem 2.8rem 0rem;
        font-weight: 700;
        line-height: 1.5;
        background-color: #82cd47;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 20.1rem;
        cursor: pointer;
        font-size: 3rem;
        color: #2c2902;
        justify-content: center;
        height: calc(100% - 5.7rem);
      }
    }
  }
  .footer-upm {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-vevv-fZ3 {
      flex-shrink: 0;
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;

      .auto-group-f8y1-ov9 {
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;

        .tentang-kita-joo {
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .kontak-NLy {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
        }
        .tags-hu3 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
      }
      .auto-group-7lty-Srd {
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-NkH {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .auto-group-kgam-EGh {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;

          .vector-M6R {
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
          }
          .telephone-call-2-1-ts3 {
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-qmcu-2yF {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-cuud-mfw {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-un9 {
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item-0812-8764-8757-dy3 {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .tanggapbanjirgmailcom-Zrh {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-emr1-hi1 {
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-c8gr-eNM {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-doxu-PKw {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;

              .auto-group-jknm-WfT {
                width: 10rem;
                height: 100%;
                font-family: Poppins, 'Source Sans Pro';
                background-color: #f3faec;
                margin-right: 0.3rem;
                white-space: nowrap;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                color: #2c2902;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
                display: flex;
              }
              .auto-group-e7to-Pz9 {
                font-weight: 400;
                align-items: center;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                justify-content: center;
                height: 100%;
                font-size: 1.4rem;
                border-radius: 1rem;
                flex-shrink: 0;
                width: 10.5rem;
                background-color: #f3faec;
                line-height: 1.5;
                color: #2c2902;
              }
            }
            .auto-group-rfk7-tR7 {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-wcem-ppZ {
                font-size: 1.4rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                width: 14.9rem;
                line-height: 1.5;
                border-radius: 1rem;
                margin-right: 0.4rem;
                height: 100%;
                white-space: nowrap;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                color: #2c2902;
                background-color: #f3faec;
              }
              .auto-group-mwhj-KWR {
                display: flex;
                justify-content: center;
                height: 100%;
                color: #2c2902;
                background-color: #f3faec;
                border-radius: 1rem;
                width: 11.7rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                font-size: 1.4rem;
                line-height: 1.5;
                flex-shrink: 0;
                font-weight: 400;
              }
            }
          }
          .auto-group-st7b-byj {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;

            .auto-group-idaz-Mi1 {
              margin-right: 0.4rem;
              width: 12.5rem;
              height: 100%;
              font-size: 1.4rem;
              border-radius: 1rem;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              background-color: #f3faec;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              align-items: center;
            }
            .auto-group-pq5x-EG1 {
              width: 16.6rem;
              font-size: 1.4rem;
              color: #2c2902;
              justify-content: center;
              font-weight: 400;
              line-height: 1.5;
              white-space: nowrap;
              align-items: center;
              display: flex;
              flex-shrink: 0;
              height: 100%;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #f3faec;
              border-radius: 1rem;
            }
          }
        }
      }
      .line-1-iS5 {
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
      }
      .auto-group-clvd-qWh {
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;

        .vector-ktZ {
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .senin-minggu-24-jam-UZf {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-1oyu-Qy7 {
          width: 14.3rem;
          font-family: Poppins, 'Source Sans Pro';
          height: 3rem;
          line-height: 1.5;
          align-items: center;
          flex-shrink: 0;
          font-size: 1.4rem;
          display: flex;
          border-radius: 1rem;
          margin: 0rem 0.3rem 0.3rem 0rem;
          font-weight: 400;
          color: #2c2902;
          white-space: nowrap;
          justify-content: center;
          background-color: #f3faec;
        }
        .auto-group-iapt-Vjf {
          height: 3rem;
          line-height: 1.5;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #f3faec;
          border-radius: 1rem;
          white-space: nowrap;
          justify-content: center;
          width: 11.8rem;
          font-size: 1.4rem;
          color: #2c2902;
          display: flex;
        }
      }
      .auto-group-shu5-BsP {
        white-space: nowrap;
        display: flex;
        align-items: center;
        line-height: 1.5;
        left: 100.7rem;
        font-size: 1.4rem;
        color: #2c2902;
        position: absolute;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        border-radius: 1rem;
        height: 3rem;
        top: 22.4rem;
        justify-content: center;
        background-color: #f3faec;
        width: 18rem;
      }
      .line-2-sVK {
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
      }
      .hubungi-kami-1Ld {
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.4rem;
        position: absolute;
        left: 65.4rem;
        top: 29.8rem;
        white-space: nowrap;
        width: 11.6rem;
        color: #f3faec;
      }
      .auto-group-ymtw-7uT {
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;

        .auto-group-7nzf-dcu {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
        }
        .tanggapbanjirgmailcom-kxR {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
        }
        .auto-group-kxmj-t33 {
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
        }
        .tanggapbanjir123-CpR {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .auto-group-jfsw-vkR {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-Fnh {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-kqkj-yyb {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-iRP {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-i3j9-EuX {
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;

      .copyright2023-aCh {
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .icon-copyright-JPb {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
