
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.formulirdaftarrelawanindividu-exy {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3faec;

  .auto-group-czr1-aLq {
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;

    .logo-guf {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-d4D {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
      }
      .tanggapbanjir-jsw {
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .beranda-4fK {
      cursor: pointer;
      font-size: 1.6rem;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-weight: 700;
      line-height: 1.5;
    }
    .layanan-BE9 {
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .kontak-WXK {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      color: #f8f5e7;
      white-space: nowrap;
      margin: 0.2rem 22rem 0rem 0rem;
    }
    .daftar-cKT {
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-weight: 400;
      color: #f8f5e7;
      white-space: nowrap;
    }
    .masuk-8Yh {
      align-items: center;
      flex-shrink: 0;
      height: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      width: 13.3rem;
      justify-content: center;
      background-color: #fefefe;
      color: #2c2902;
      white-space: nowrap;
      display: flex;
      border-radius: 1rem;
      cursor: pointer;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .auto-group-hdqm-16h {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 13rem 13.7rem 13rem;

    .judul-8h7 {
      margin: 0rem 24.5rem 5.6rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .formulir-pendaftaran-menjadi-relawan-banjir-56Z {
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 4rem;
        font-weight: 700;
      }
      .jadilah-relawan-yang-bertanggung-jawab-melaksanakan-tugas-sepenuh-hati-PN9 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .isidaftar-hdj {
      background-color: #71cd47;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 100%;
      height: 151.1rem;
      position: relative;

      .pastikan-anda-telah-memenuhi-syarat-dan-ketentuan-yang-ditetapkan-ENm {
        top: 1.9rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
        width: 72.8rem;
        height: 3rem;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        left: 1.7rem;
      }
      .group-70-iHw {
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;
        top: 6.7rem;

        .nik-3b7 {
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-3-b6q {
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 100%;
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
      }
      .group-71-J1F {
        height: 9rem;
        position: absolute;
        left: 1.7rem;
        top: 17.5rem;
        border-radius: 1.5rem;
        width: 114.6rem;

        .nama-lengkap-dZK {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
        }
        .rectangle-3-aDf {
          width: 100%;
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
      }
      .group-72-VbX {
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;
        top: 28.3rem;
        border-radius: 1.5rem;

        .jenis-kelamin-EZ7 {
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
        }
        .rectangle-3-BDT {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 100%;
          height: 6.3rem;
        }
      }
      .group-73-5pd {
        top: 39.1rem;
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;

        .tanggal-lahir-okd {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
        }
        .rectangle-3-YTK {
          width: 100%;
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
      }
      .group-75-5CM {
        left: 1.7rem;
        top: 49.9rem;
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;

        .usia-ci5 {
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
        }
        .rectangle-3-AUh {
          width: 100%;
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
      }
      .group-76-tvV {
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;
        top: 60.7rem;

        .profesi-qKw {
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-3-Beh {
          width: 100%;
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
      }
      .group-77-7YM {
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;
        top: 71.5rem;

        .institusi-f45 {
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
        }
        .auto-group-n32r-zMF {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          box-sizing: border-box;
          padding: 2.1rem 0.6rem;
          width: 100%;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          white-space: nowrap;
        }
      }
      .group-78-FHB {
        left: 1.7rem;
        top: 82.3rem;
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;

        .alamat-yys {
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-3-v8R {
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 100%;
        }
      }
      .group-79-e4R {
        top: 93.1rem;
        border-radius: 1.5rem;
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;

        .kota-P21 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
        }
        .rectangle-3-KRT {
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 100%;
        }
      }
      .group-80-eCq {
        width: 114.6rem;
        height: 9rem;
        position: absolute;
        left: 1.7rem;
        top: 103.9rem;
        border-radius: 1.5rem;

        .provinsi-acH {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
        }
        .rectangle-3-vRF {
          width: 100%;
          height: 6.3rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
      }
      .group-81-es3 {
        border-radius: 1.5rem;
        width: 115rem;
        height: 21.3rem;
        position: absolute;
        left: 1.7rem;
        top: 114.7rem;

        .motivasi-zg1 {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.6rem;
        }
        .rectangle-3-w5T {
          border-radius: 1.5rem;
          width: 100%;
          height: 18.6rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
        }
      }
      .daftar-G7j {
        height: 7rem;
        position: absolute;
        top: 140.2rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        background-color: #2c2902;
        border-radius: 1rem;
        line-height: 1.5;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 700;
        color: #f3faec;
        display: flex;
        width: 23.7rem;
        left: 92.6rem;
      }
    }
  }
  .footer-uwP {
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-x9ww-sNR {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-zgho-b3X {
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;

        .tentang-kita-JyX {
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .kontak-F85 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .tags-z5f {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-g4df-Ktd {
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-FnH {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-abso-WTK {
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);

          .vector-E8R {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-NkR {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
          }
          .auto-group-rxff-ukM {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-c4fb-FZK {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-Bxm {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
          .item-0812-8764-8757-7rR {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .tanggapbanjirgmailcom-qXX {
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .auto-group-pw4v-aED {
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-gvxf-X9T {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;

            .auto-group-szhf-g2M {
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;

              .auto-group-nxhb-ocm {
                flex-shrink: 0;
                height: 100%;
                font-size: 1.4rem;
                color: #2c2902;
                border-radius: 1rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                margin-right: 0.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10rem;
                line-height: 1.5;
                white-space: nowrap;
                background-color: #f3faec;
              }
              .auto-group-gtp3-JJd {
                font-family: Poppins, 'Source Sans Pro';
                background-color: #f3faec;
                font-weight: 400;
                white-space: nowrap;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
                width: 10.5rem;
                font-size: 1.4rem;
                color: #000000;
                height: 100%;
                line-height: 1.5;
                display: flex;
                justify-content: center;
              }
            }
            .auto-group-apxb-BtD {
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;

              .auto-group-fabt-vL1 {
                font-weight: 400;
                line-height: 1.5;
                border-radius: 1rem;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                margin-right: 0.4rem;
                width: 14.9rem;
                color: #000000;
                white-space: nowrap;
                background-color: #f3faec;
              }
              .auto-group-mxwo-Qky {
                height: 100%;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                background-color: #f3faec;
                width: 11.7rem;
                line-height: 1.5;
                align-items: center;
                flex-shrink: 0;
                font-weight: 400;
                display: flex;
                justify-content: center;
                color: #000000;
                white-space: nowrap;
                border-radius: 1rem;
              }
            }
          }
          .auto-group-ngpb-W3K {
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;

            .auto-group-4cim-FWh {
              line-height: 1.5;
              color: #000000;
              margin-right: 0.4rem;
              width: 12.5rem;
              font-size: 1.4rem;
              font-family: Poppins, 'Source Sans Pro';
              justify-content: center;
              height: 100%;
              display: flex;
              align-items: center;
              background-color: #f3faec;
              border-radius: 1rem;
              flex-shrink: 0;
              font-weight: 400;
              white-space: nowrap;
            }
            .auto-group-tmlm-jwf {
              width: 16.6rem;
              height: 100%;
              font-size: 1.4rem;
              background-color: #f3faec;
              border-radius: 1rem;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              line-height: 1.5;
              color: #000000;
              white-space: nowrap;
              font-weight: 400;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .line-1-E7j {
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
      }
      .auto-group-7a9x-ZQu {
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;

        .vector-H61 {
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .senin-minggu-24-jam-zm7 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-8c6d-vem {
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 14.3rem;
          font-size: 1.4rem;
          line-height: 1.5;
          white-space: nowrap;
          background-color: #f3faec;
          margin: 0rem 0.3rem 0.3rem 0rem;
          height: 3rem;
          align-items: center;
          font-weight: 400;
          color: #000000;
          display: flex;
        }
        .auto-group-g9n9-oTf {
          border-radius: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          width: 11.8rem;
          font-size: 1.4rem;
          justify-content: center;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          height: 3rem;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: center;
          background-color: #f3faec;
        }
      }
      .auto-group-juzx-hJ9 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        top: 22.4rem;
        position: absolute;
        align-items: center;
        justify-content: center;
        height: 3rem;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        background-color: #f3faec;
        border-radius: 1rem;
        left: 100.7rem;
        width: 18rem;
      }
      .line-2-AxR {
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
      }
      .hubungi-kami-WFb {
        width: 11.6rem;
        top: 29.8rem;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.4rem;
        position: absolute;
        left: 65.4rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .auto-group-6mox-R7f {
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;

        .auto-group-7okd-XRb {
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
        }
        .tanggapbanjirgmailcom-3eq {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-xzdb-kp9 {
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
        }
        .tanggapbanjir123-5bX {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-i6jk-c5f {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjir123-XTX {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .auto-group-fdz9-rVo {
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjir123-nPT {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
    .auto-group-a6hp-7gd {
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;

      .copyright2023-3aH {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
      }
      .icon-copyright-yD3 {
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
      }
    }
  }
}
