
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.forumkomunitas-EnV {
  display: flex;
  flex-direction: column;
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-tymo-N81 {
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;

    .logo-fcu {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;

      .logo-1-Ccq {
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tanggapbanjir-un9 {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .beranda-2rm {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      color: #f8f5e7;
      cursor: pointer;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
    }
    .layanan-Yq7 {
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .kontak-ssP {
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 22rem 0rem 0rem;
      font-weight: 400;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
    }
    .daftar-zSD {
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
    }
    .masuk-Jxh {
      font-size: 1.6rem;
      line-height: 1.5;
      background-color: #fefefe;
      border-radius: 1rem;
      flex-shrink: 0;
      width: 13.3rem;
      cursor: pointer;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      height: 100%;
      color: #2c2902;
      justify-content: center;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }
  .auto-group-km8m-afK {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 13rem 4.9rem 13rem;
    width: 100%;
    align-items: center;

    .kotakpengalaman-WJ5 {
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-b87j-4Kb {
        box-sizing: border-box;
        padding: 1rem 1.1rem 2.9rem 1.1rem;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        margin-bottom: 0.9rem;
        width: 100%;
        background-color: #f3faec;
        flex-shrink: 0;

        .auto-group-az9w-mzh {
          box-sizing: border-box;
          padding: 0rem 3.3rem 0rem 3.4rem;
          font-weight: 700;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 90.9rem 1rem 0rem;
          height: 5.1rem;
          font-size: 3.2rem;
          line-height: 1.5;
          white-space: nowrap;
          background-color: #82cd47;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .ceritakan-pengalamanmu-inspirasi-serta-upaya-kita-bersama-untuk-melawan-banjir-qUm {
          font-weight: 400;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          font-size: 2rem;
        }
        .auto-group-2u21-YPB {
          width: calc(100% - 6.9rem);
          height: 14.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 6.9rem;

          .ellipse-21-sRT {
            background-size: 100% 100%;
            border-radius: 7.25rem;
            height: 14.5rem;
            width: 14.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:dbaa591bdc9fe6bbd99dd07e3819ab2c4c92688a');
            flex-shrink: 0;
            margin-right: 2.4rem;
          }
          .auto-group-jpsy-aqf {
            width: 92rem;
            height: 100%;
            background-color: #fdfbfb;
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.9rem 1.1rem 0rem 1.6rem;

            .apa-yang-terjadi-K2Z {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 4.4rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
            }
            .auto-group-njzw-FS1 {
              margin-left: 0.4rem;
              display: flex;
              align-items: flex-end;

              .photo-camera-1-CMF {
                margin: 0rem 0.6rem 0.3rem 0rem;
                width: 3rem;
                height: 3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .video-camera-1-vHF {
                margin-right: 0.6rem;
                width: 3.3rem;
                height: 3.3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .happy-1-TY5 {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.6rem 0.7rem 0rem;
                width: 2.3rem;
                height: 2.3rem;
              }
              .poll-1-b8V {
                margin: 0rem 62rem 0.9rem 0rem;
                width: 2.3rem;
                height: 2.3rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .posting-X29 {
                font-size: 2rem;
                font-weight: 700;
                display: flex;
                justify-content: center;
                flex-shrink: 0;
                width: 14.2rem;
                height: 4.9rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                color: #2c2902;
                background-color: #82cd47;
                margin-bottom: 0.7rem;
                white-space: nowrap;
                align-items: center;
                border-radius: 5rem;
              }
            }
          }
        }
      }
      .lihat-semua-kisah-menarik-di-sini-ZDj {
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .group-194-fGm {
      box-sizing: border-box;
      width: 100%;
      height: 17.6rem;
      background-color: #f3faec;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      padding: 1.1rem 1.1rem 1.8rem 0.9rem;

      .ellipse-22-aPj {
        border-radius: 6.6rem;
        width: 13.2rem;
        background-image: url('REPLACE_IMAGE:74adef7e0b9662ce8439397a52bb281661b2e874');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        margin: 0rem 1.5rem 1.5rem 0rem;
        height: 13.2rem;
      }
      .auto-group-kmr9-gSm {
        flex-shrink: 0;
        width: 101.3rem;
        height: 100%;

        .auto-group-q7v1-DxV {
          margin-bottom: 0.2rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .olivia-olivia125-NaV {
            font-size: 2.4rem;
            font-family: Poppins, 'Source Sans Pro';
            align-items: baseline;
            flex-shrink: 0;
            display: flex;
            margin: 0.4rem 62.7rem 0rem 0rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
            white-space: nowrap;

            .olivia-olivia125-NaV-sub-0 {
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.5;
            }
            .olivia-olivia125-NaV-sub-1 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .menit-yang-lalu-SCy {
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .auto-group-1gnu-mm3 {
          width: 99.5rem;
          height: 10.5rem;
          position: relative;

          .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-iwB {
            height: 9rem;
            position: absolute;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            width: 87.7rem;
            left: 0;
            top: 0;
            font-size: 2rem;
            font-weight: 400;
            color: #2c2902;

            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-iwB-sub-0 {
            }
            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-iwB-sub-1 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
            }
          }
          .group-167-wBf {
            width: 12.7rem;
            height: 2.9rem;
            position: absolute;
            left: 86.8rem;
            top: 7.6rem;
            display: flex;
            align-items: flex-end;

            .like-1-4GH {
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 2.5rem 0.2rem 0rem;
              width: 2.7rem;
            }
            .chat-1-ye9 {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2.1rem;
              width: 2.7rem;
              height: 2.7rem;
            }
            .share-1-Wty {
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .group-195-2MX {
      margin-bottom: 0.7rem;
      box-sizing: border-box;
      align-items: flex-end;
      flex-direction: column;
      padding: 1.1rem 1.1rem 1.9rem 0.9rem;
      width: 100%;
      display: flex;
      background-color: #f3faec;
      border-radius: 1rem;
      flex-shrink: 0;

      .auto-group-koww-9h3 {
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        width: 100%;
        height: 13.2rem;
        display: flex;
        align-items: center;

        .ellipse-22-VW1 {
          border-radius: 6.6rem;
          margin-right: 1.5rem;
          width: 13.2rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:624da53bed89ac1101a82136ae06f08ddfaa3b90');
          flex-shrink: 0;
          height: 13.2rem;
          background-size: 100% 100%;
        }
        .auto-group-qiz7-c4q {
          width: 101.3rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-fuyh-xeV {
            margin-bottom: 0.2rem;
            width: 100%;
            display: flex;
            align-items: flex-start;

            .noah-noahft11-v5X {
              margin: 0.4rem 64.4rem 0rem 0rem;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              align-items: baseline;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;

              .noah-noahft11-v5X-sub-0 {
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.5;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
              }
              .noah-noahft11-v5X-sub-1 {
                line-height: 1.5;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
              }
              .noah-noahft11-v5X-sub-2 {
              }
            }
            .jam-yang-lalu-4L9 {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5;
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
            }
          }
          .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-Q97 {
            font-family: Poppins, 'Source Sans Pro';
            max-width: 87.7rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;

            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-Q97-sub-0 {
            }
            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-Q97-sub-1 {
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2rem;
            }
          }
        }
      }
      .auto-group-tlqp-TWh {
        flex-shrink: 0;
        margin-right: 2.8rem;
        display: flex;
        align-items: flex-end;

        .rectangle-148-12R {
          flex-shrink: 0;
          margin: 0rem 40.7rem 2rem 0rem;
          width: 45.1rem;
          height: 21.1rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
        }
        .like-1-utV {
          width: 2.7rem;
          height: 2.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.2rem 0rem;
        }
        .chat-1-3E1 {
          margin-right: 2.1rem;
          width: 2.7rem;
          height: 2.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .share-1-nBb {
          width: 2.7rem;
          height: 2.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-196-Jvd {
      margin-bottom: 0.7rem;
      box-sizing: border-box;
      flex-shrink: 0;
      padding: 1.1rem 1.1rem 1.8rem 0.9rem;
      width: 100%;
      height: 17.6rem;
      display: flex;
      align-items: center;
      background-color: #f3faec;
      border-radius: 1rem;

      .ellipse-22-p8H {
        margin: 0rem 1.5rem 1.5rem 0rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:74adef7e0b9662ce8439397a52bb281661b2e874');
        border-radius: 6.6rem;
        flex-shrink: 0;
        width: 13.2rem;
        height: 13.2rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
      .auto-group-vyp3-XHb {
        width: 101.3rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-g5tm-Gky {
          margin-bottom: 0.2rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .olivia-olivia125-1yT {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
            white-space: nowrap;
            display: flex;
            margin: 0.4rem 62.9rem 0rem 0rem;
            font-family: Poppins, 'Source Sans Pro';
            align-items: baseline;
            flex-shrink: 0;

            .olivia-olivia125-1yT-sub-0 {
              font-size: 2.4rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
            .olivia-olivia125-1yT-sub-1 {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .september-2023-afB {
            flex-shrink: 0;
            text-align: right;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-vqw3-vDF {
          width: 99.5rem;
          height: 10.5rem;
          position: relative;

          .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-4qF {
            font-family: Poppins, 'Source Sans Pro';
            width: 87.7rem;
            position: absolute;
            left: 0;
            font-size: 2rem;
            font-weight: 400;
            height: 9rem;
            top: 0;
            line-height: 1.5;
            color: #2c2902;

            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-4qF-sub-0 {
            }
            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-4qF-sub-1 {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .group-167-XsF {
            align-items: flex-end;
            width: 12.7rem;
            height: 2.9rem;
            position: absolute;
            left: 86.8rem;
            top: 7.6rem;
            display: flex;

            .like-1-G49 {
              margin: 0rem 2.5rem 0.2rem 0rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .chat-1-zVw {
              margin-right: 2.1rem;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .share-1-Y1f {
              flex-shrink: 0;
              width: 2.7rem;
              height: 2.7rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
    }
    .group-197-s3w {
      padding: 1.1rem 1.1rem 1.9rem 0.9rem;
      width: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      background-color: #f3faec;
      border-radius: 1rem;
      box-sizing: border-box;
      flex-shrink: 0;

      .auto-group-d4q1-C6D {
        flex-shrink: 0;
        margin-bottom: 1.2rem;
        width: 100%;
        height: 13.2rem;
        display: flex;
        align-items: center;

        .ellipse-22-jrq {
          border-radius: 6.6rem;
          flex-shrink: 0;
          background-size: 100% 100%;
          background-image: url('REPLACE_IMAGE:624da53bed89ac1101a82136ae06f08ddfaa3b90');
          height: 13.2rem;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 1.5rem;
          width: 13.2rem;
        }
        .auto-group-spx5-FqB {
          width: 101.3rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-89wf-obo {
            margin-bottom: 0.2rem;
            width: 100%;
            display: flex;
            align-items: flex-start;

            .noah-noahft11-MdK {
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
              margin: 0.4rem 62.8rem 0rem 0rem;
              font-size: 2.4rem;
              font-family: Poppins, 'Source Sans Pro';
              align-items: baseline;

              .noah-noahft11-MdK-sub-0 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.5;
                color: #2c2902;
              }
              .noah-noahft11-MdK-sub-1 {
                line-height: 1.5;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
              }
              .noah-noahft11-MdK-sub-2 {
              }
            }
            .september-2023-vK3 {
              color: #b6b8b5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: right;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5;
            }
          }
          .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-G81 {
            max-width: 87.7rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';

            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-G81-sub-0 {
            }
            .relawan-adalah-cahaya-di-tengah-badai-banjir-bersama-sama-kita-berusaha-untuk-menerangi-dan-menyelamatkan-masyarakat-yang-terkena-dampak-relawanaksi-relawansiaga-G81-sub-1 {
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
            }
          }
        }
      }
      .auto-group-w1iz-N4Z {
        margin-right: 2.8rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rectangle-148-i8R {
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 0rem 40.7rem 2rem 0rem;
          width: 45.1rem;
          height: 21.1rem;
        }
        .like-1-e25 {
          width: 2.7rem;
          height: 2.7rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.2rem 0rem;
        }
        .chat-1-yKF {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.1rem;
          width: 2.7rem;
          height: 2.7rem;
          object-fit: cover;
        }
        .share-1-iXj {
          vertical-align: top;
          flex-shrink: 0;
          width: 2.7rem;
          height: 2.7rem;
          object-fit: cover;
        }
      }
    }
  }
  .footer-22d {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-nfjo-yTf {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-l8fk-v81 {
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;

        .tentang-kita-3TX {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .kontak-P1b {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .tags-8E5 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-cm2h-4dX {
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;
        width: 115.2rem;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-PQu {
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-gs93-e5w {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;

          .vector-Mm3 {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-uXf {
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-dyxm-3tm {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
          }
        }
        .auto-group-uk13-JJu {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-qJq {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .item-0812-8764-8757-xuF {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
          }
          .tanggapbanjirgmailcom-gqF {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-fks3-Rnq {
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-bvws-Ni5 {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-tda9-XL5 {
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-b9ub-ST3 {
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                display: flex;
                border-radius: 1rem;
                margin-right: 0.3rem;
                height: 100%;
                font-size: 1.4rem;
                color: #2c2902;
                width: 10rem;
                line-height: 1.5;
                flex-shrink: 0;
                background-color: #f3faec;
              }
              .auto-group-ckhs-8Ks {
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                justify-content: center;
                height: 100%;
                color: #000000;
                background-color: #f3faec;
                border-radius: 1rem;
                line-height: 1.5;
                width: 10.5rem;
              }
            }
            .auto-group-wfsr-Rpm {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;

              .auto-group-pc6m-AnM {
                font-size: 1.4rem;
                color: #000000;
                display: flex;
                background-color: #f3faec;
                border-radius: 1rem;
                width: 14.9rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                margin-right: 0.4rem;
                line-height: 1.5;
                flex-shrink: 0;
                height: 100%;
              }
              .auto-group-bkty-fDK {
                border-radius: 1rem;
                width: 11.7rem;
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                white-space: nowrap;
                line-height: 1.5;
                color: #000000;
                justify-content: center;
                background-color: #f3faec;
                flex-shrink: 0;
                height: 100%;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
          .auto-group-46c9-Z3o {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-lswu-WDw {
              width: 12.5rem;
              font-size: 1.4rem;
              background-color: #f3faec;
              margin-right: 0.4rem;
              height: 100%;
              color: #000000;
              white-space: nowrap;
              line-height: 1.5;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              border-radius: 1rem;
            }
            .auto-group-1d1s-zQ1 {
              flex-shrink: 0;
              height: 100%;
              font-size: 1.4rem;
              color: #000000;
              white-space: nowrap;
              font-family: Poppins, 'Source Sans Pro';
              justify-content: center;
              background-color: #f3faec;
              border-radius: 1rem;
              width: 16.6rem;
              font-weight: 400;
              line-height: 1.5;
              display: flex;
              align-items: center;
            }
          }
        }
      }
      .line-1-V5s {
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
      }
      .auto-group-nzwy-nqf {
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;

        .vector-hhj {
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .senin-minggu-24-jam-EBs {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-arp5-kvu {
          font-size: 1.4rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          flex-shrink: 0;
          color: #000000;
          background-color: #f3faec;
          border-radius: 1rem;
          margin: 0rem 0.3rem 0.3rem 0rem;
          width: 14.3rem;
          height: 3rem;
          line-height: 1.5;
          display: flex;
          white-space: nowrap;
          justify-content: center;
        }
        .auto-group-bbcm-2tR {
          font-size: 1.4rem;
          line-height: 1.5;
          border-radius: 1rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          width: 11.8rem;
          height: 3rem;
          justify-content: center;
          background-color: #f3faec;
          margin-bottom: 0.3rem;
          font-weight: 400;
          white-space: nowrap;
          align-items: center;
        }
      }
      .auto-group-x7gu-7us {
        top: 22.4rem;
        font-weight: 400;
        align-items: center;
        font-size: 1.4rem;
        color: #000000;
        justify-content: center;
        width: 18rem;
        line-height: 1.5;
        background-color: #f3faec;
        border-radius: 1rem;
        height: 3rem;
        position: absolute;
        left: 100.7rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
      }
      .line-2-zyf {
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
      }
      .hubungi-kami-8py {
        font-size: 1.6rem;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        width: 11.6rem;
        height: 2.4rem;
        position: absolute;
        top: 29.8rem;
        left: 65.4rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
      }
      .auto-group-zcnm-Et1 {
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;

        .auto-group-gqjd-MSq {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
        }
        .tanggapbanjirgmailcom-Gph {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
        }
        .auto-group-nmds-CCZ {
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjir123-Wj3 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
        }
        .auto-group-d6bt-Ssb {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-B4V {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-kdsh-uFP {
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjir123-dhB {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
        }
      }
    }
    .auto-group-3vuj-Mt5 {
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;

      .copyright2023-Hmj {
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .icon-copyright-2DX {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
