
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.konfirmasipendaftaran-LHX {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #82cd47;

  .auto-group-izzh-4jK {
    margin-bottom: 16.9rem;
    padding: 3rem 13.3rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    background-color: #2c2902;
    flex-shrink: 0;

    .logo-yLV {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-6vu {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
      }
      .tanggapbanjir-Qwb {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .beranda-wAq {
      color: #f8f5e7;
      margin: 0.2rem 3.2rem 0rem 0rem;
      cursor: pointer;
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .layanan-FBX {
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .kontak-Zi1 {
      line-height: 1.5;
      color: #f8f5e7;
      flex-shrink: 0;
      margin: 0.2rem 22rem 0rem 0rem;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .daftar-syb {
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      flex-shrink: 0;
    }
    .masuk-14D {
      width: 13.3rem;
      height: 100%;
      font-size: 1.6rem;
      color: #2c2902;
      justify-content: center;
      border-radius: 1rem;
      white-space: nowrap;
      display: flex;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.5;
      align-items: center;
      flex-shrink: 0;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #fefefe;
    }
  }
  .ceklis-fPf {
    display: flex;
    flex-direction: column;
    background-color: #f3faec;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 7.2rem 3.4rem 7.2rem;
    width: calc(100% - 46rem);
    margin: 0rem 23rem 12rem 23rem;
    align-items: center;
    border-radius: 2rem;

    .terima-kasih-sudah-mendaftar-A5X {
      line-height: 1.5;
      color: #2c2902;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 4rem;
      font-weight: 700;
    }
    .formulir-pendaftaran-terkumpul-tXK {
      color: #2c2902;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.1rem 0.8rem 0rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.5;
    }
    .checked-1-oPP {
      margin: 0rem 0.1rem 2rem 0rem;
      width: 25.9rem;
      height: 25.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .pendaftaran-akan-diproses-paling-lambat-3x24-jam-vU1 {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.5;
      color: #2c2902;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .footer-Dxu {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-p3cd-aYZ {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-lldf-iem {
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;

        .tentang-kita-qzH {
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .kontak-agy {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
        }
        .tags-KuT {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-gtev-4c9 {
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-BRs {
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
        }
        .auto-group-3mbo-dYm {
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .vector-jrh {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-5vZ {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
          }
          .auto-group-sfbp-cQh {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
          }
        }
        .auto-group-xznz-wSy {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;

          .jalan-mawar-no01-jakarta-5JH {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
          .item-0812-8764-8757-QLZ {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
          .tanggapbanjirgmailcom-vZo {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-ee81-fGV {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-4drh-odb {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;

            .auto-group-1fud-MQD {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;

              .auto-group-xbsz-Ujj {
                white-space: nowrap;
                justify-content: center;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                background-color: #f3faec;
                width: 10rem;
                line-height: 1.5;
                border-radius: 1rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 400;
                color: #2c2902;
                display: flex;
                margin-right: 0.3rem;
              }
              .auto-group-ryy1-aGy {
                width: 10.5rem;
                font-weight: 400;
                display: flex;
                justify-content: center;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                background-color: #f3faec;
                height: 100%;
                line-height: 1.5;
                color: #000000;
                align-items: center;
                border-radius: 1rem;
                flex-shrink: 0;
              }
            }
            .auto-group-5t9b-Gfb {
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;

              .auto-group-4ajv-cUZ {
                font-size: 1.4rem;
                line-height: 1.5;
                align-items: center;
                justify-content: center;
                background-color: #f3faec;
                margin-right: 0.4rem;
                width: 14.9rem;
                height: 100%;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                font-weight: 400;
                white-space: nowrap;
                display: flex;
                border-radius: 1rem;
                flex-shrink: 0;
              }
              .auto-group-8wnm-uiZ {
                color: #000000;
                justify-content: center;
                background-color: #f3faec;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.4rem;
                line-height: 1.5;
                white-space: nowrap;
                border-radius: 1rem;
                width: 11.7rem;
                height: 100%;
                font-weight: 400;
                display: flex;
                align-items: center;
              }
            }
          }
          .auto-group-iomt-CSm {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-ekgh-wv9 {
              white-space: nowrap;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              justify-content: center;
              border-radius: 1rem;
              font-size: 1.4rem;
              line-height: 1.5;
              color: #000000;
              background-color: #f3faec;
              width: 12.5rem;
              height: 100%;
              margin-right: 0.4rem;
            }
            .auto-group-tuvh-S6D {
              width: 16.6rem;
              font-weight: 400;
              line-height: 1.5;
              flex-shrink: 0;
              border-radius: 1rem;
              height: 100%;
              font-size: 1.4rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #f3faec;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .line-1-vn5 {
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
      }
      .auto-group-jt6z-ei5 {
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;

        .vector-AgR {
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .senin-minggu-24-jam-Vyb {
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-vlrf-da1 {
          height: 3rem;
          font-size: 1.4rem;
          line-height: 1.5;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          width: 14.3rem;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          font-weight: 400;
          color: #000000;
          display: flex;
          background-color: #f3faec;
          margin: 0rem 0.3rem 0.3rem 0rem;
        }
        .auto-group-p6fk-7VB {
          font-size: 1.4rem;
          font-weight: 400;
          align-items: center;
          margin-bottom: 0.3rem;
          border-radius: 1rem;
          flex-shrink: 0;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #f3faec;
          line-height: 1.5;
          height: 3rem;
          display: flex;
          justify-content: center;
          width: 11.8rem;
        }
      }
      .auto-group-s2j5-QUH {
        font-weight: 400;
        background-color: #f3faec;
        width: 18rem;
        left: 100.7rem;
        top: 22.4rem;
        justify-content: center;
        font-size: 1.4rem;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        border-radius: 1rem;
        height: 3rem;
        position: absolute;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
      }
      .line-2-6M7 {
        background-color: #f3faec;
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 13.0992rem;
        top: 28.5rem;
      }
      .hubungi-kami-2Vf {
        font-weight: 600;
        line-height: 1.5;
        width: 11.6rem;
        height: 2.4rem;
        left: 65.4rem;
        top: 29.8rem;
        white-space: nowrap;
        position: absolute;
        font-size: 1.6rem;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-n7qk-jus {
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;

        .auto-group-1tuh-Ebj {
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
        }
        .tanggapbanjirgmailcom-xXj {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-kq93-Uky {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-QPj {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-rwsy-XjF {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-Tcu {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
        }
        .auto-group-xh13-nv5 {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-8DF {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
      }
    }
    .auto-group-jfxd-4Mo {
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;

      .copyright2023-aqw {
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .icon-copyright-v97 {
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
      }
    }
  }
}
