
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.panduanedukasiselengkapnya-4JD {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-ok6r-aXT {
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;

    .auto-group-rogv-Usj {
      width: 51.6rem;
      height: 3.5rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 3.2rem 0.5rem 0rem;

      .tanggapbanjir-ntR {
        height: 3rem;
        top: 0.5rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        width: 18.6rem;
        position: absolute;
        left: 4.6rem;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .logo-H4V {
        width: 51.6rem;
        height: 3.4rem;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: flex-end;

        .logo-1-2Gy {
          height: 3.4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 40.4rem;
          width: 3.5rem;
        }
        .beranda-Mq3 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          color: #f8f5e7;
        }
      }
    }
    .layanan-VRT {
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .kontak-oh3 {
      margin: 0.2rem 22rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .daftar-7xd {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
    }
    .masuk-Szu {
      flex-shrink: 0;
      width: 13.3rem;
      line-height: 1.5;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1.6rem;
      color: #2c2902;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #fefefe;
      height: 100%;
      border-radius: 1rem;
    }
  }
  .auto-group-1ewd-LKb {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.3rem 12.5rem 4.1rem 13rem;
    width: 100%;

    .pencarian-eLH {
      box-sizing: border-box;
      padding: 0.9rem 1.9rem 1.4rem 2rem;
      width: calc(100% - 9.8rem);
      flex-shrink: 0;
      border-radius: 2.5rem;
      margin: 0rem 5.1rem 3.6rem 4.7rem;
      display: flex;
      align-items: center;
      background-color: #d9d9d9;

      .search-1-Xus {
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.4rem;
        width: 4rem;
      }
      .vidio-edukasi-bencana-banjir-sTw {
        margin-right: 43.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #b6b8b5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .enter-1-BzR {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-top: 0.5rem;
        width: 6.6rem;
        height: 4.3rem;
      }
    }
    .vid5-VVK {
      margin: 0rem 0.2rem 4.3rem 0.3rem;
      width: calc(100% - 0.5rem);
      height: 21.2rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .rectangle-30-CuX {
        background-color: #2c2902;
        border-radius: 1rem;
        width: 118rem;
        height: 20.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .jakarta-25-september-2023-LVw {
        white-space: nowrap;
        width: 19.6rem;
        left: 40.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #b6b8b5;
        height: 2.1rem;
        position: absolute;
        top: 17.8rem;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .gambarcara-2tZ {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        width: 38.6rem;
        height: 20.5rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .sosialisasi-cara-penanggulangan-bencana-banjir-mbF {
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        height: 3rem;
        left: 40.4rem;
        top: 4rem;
        font-size: 2rem;
        width: 51rem;
        position: absolute;
        font-family: Poppins, 'Source Sans Pro';
      }
      .follow-Tiy {
        left: 100.2rem;
        top: 8.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 15rem;
        height: 5.0856rem;
        position: absolute;
      }
      .logoyt-zU1 {
        height: 3.4rem;
        position: absolute;
        left: 40.3rem;
        top: 9.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 3.2rem;
      }
      .arieprabowo-8aD {
        height: 3rem;
        left: 44.7rem;
        top: 9.5rem;
        font-size: 2rem;
        font-family: Poppins, 'Source Sans Pro';
        width: 15.5rem;
        position: absolute;
        font-weight: 700;
        line-height: 1.5;
        color: #fdfbfb;
        white-space: nowrap;
      }
      .rb-subscriber-35-video-TMb {
        height: 3rem;
        position: absolute;
        left: 40.6rem;
        top: 13.9rem;
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
        width: 28.2rem;
        color: #fdfbfb;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.5;
      }
    }
    .vid4-mNH {
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;

      .gambarcara-sgD {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-upft-1XX {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-5ce5-XVs {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-UAD {
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-7x1t-aj3 {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-KAq {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
            }
            .arieprabowo-TXw {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .rb-subscriber-35-video-13f {
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .jakarta-25-september-2023-XXo {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .follow-esK {
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
        }
      }
    }
    .vid3-P4D {
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;

      .gambarcara-uYM {
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
      }
      .auto-group-8ac9-FMK {
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-yjwq-yYD {
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 8.8rem;

          .sosialisasi-cara-penanggulangan-bencana-banjir-uwf {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .auto-group-7s7f-cLH {
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;

            .logoyt-w7f {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
            }
            .arieprabowo-UdP {
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
          .rb-subscriber-35-video-Dqs {
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
          }
          .jakarta-25-september-2023-MBP {
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .follow-V2h {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .vid2-DUV {
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;

      .gambarcara-9N9 {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-e5hb-VB7 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;

        .auto-group-1twh-E8h {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-mPX {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .auto-group-upff-47j {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-Bi9 {
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arieprabowo-ixy {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .rb-subscriber-35-video-GDo {
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-nT3 {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .follow-Wdw {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .vid1-dTf {
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;

      .gambarcara-ATb {
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
      }
      .auto-group-lpsx-6s3 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-5mlm-SAD {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-NpZ {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
          }
          .auto-group-mgid-6Em {
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;

            .logoyt-ciu {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
            }
            .arieprabowo-ZPF {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .rb-subscriber-35-video-ui1 {
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .jakarta-25-september-2023-2nd {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .follow-ZnZ {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .vid3-JEM {
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.5rem 5rem 0rem;

      .gambarcara-Edo {
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .auto-group-q8au-ybP {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-phvb-iYy {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-TWZ {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
          }
          .auto-group-xeed-mn9 {
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;

            .logoyt-Jn5 {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
            }
            .arieprabowo-FBX {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
            }
          }
          .rb-subscriber-35-video-bFP {
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .jakarta-25-september-2023-XPw {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
          }
        }
        .follow-ejT {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .vid2-yFw {
      margin: 0rem 0.5rem 5rem 0rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;

      .gambarcara-HXX {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-ydw7-yQM {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;

        .auto-group-4zhf-JhX {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-Soj {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
          }
          .auto-group-hizm-ZNZ {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-J5F {
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arieprabowo-SSM {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
            }
          }
          .rb-subscriber-35-video-PMb {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
          }
          .jakarta-25-september-2023-uKw {
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
          }
        }
        .follow-qUV {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
        }
      }
    }
    .vid1-yKo {
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.5rem 4.5rem 0rem;

      .gambarcara-uUM {
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .auto-group-3xkm-3qT {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-9j4d-yz1 {
          height: 100%;
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;

          .sosialisasi-cara-penanggulangan-bencana-banjir-veM {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
          }
          .auto-group-q46v-r2D {
            display: flex;
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);

            .logoyt-ysX {
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
            }
            .arieprabowo-Xe9 {
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
          .rb-subscriber-35-video-UZP {
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .jakarta-25-september-2023-znd {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
          }
        }
        .follow-iyX {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-resb-FiZ {
      margin-right: 0.5rem;
      width: calc(100% - 0.5rem);
      height: 7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .sebelumnya-Q5f {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 3rem 2rem 3.1rem;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #f3faec;
        margin-right: 70.6rem;
        border-radius: 1rem;

        .icon-arrow-right-tWd {
          margin: 0rem 1.7rem 0.1rem 0rem;
          width: 2.8rem;
          height: 2.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .sebelumnya-oNh {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .selanjutnya-ikZ {
        background-color: #f3faec;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 2rem 3.5rem;
        height: 100%;
        display: flex;
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;

        .selanjutnya-G1P {
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .icon-arrow-right-QNV {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 2.8rem;
          height: 2.7rem;
          object-fit: contain;
        }
      }
    }
  }
  .footer-uq3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;

    .auto-group-vq57-sG5 {
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;
      width: 100%;

      .auto-group-ss3j-oQd {
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;

        .tentang-kita-inV {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .kontak-eRF {
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tags-n1f {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-rshw-WyF {
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-qkd {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
        }
        .auto-group-hmir-tU1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;

          .vector-QhF {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
            height: 1.9rem;
          }
          .telephone-call-2-1-9eq {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
          }
          .auto-group-r4mw-guf {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-jpf7-RsF {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-kuX {
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-0812-8764-8757-5gu {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
          }
          .tanggapbanjirgmailcom-ocu {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-t5nq-YaV {
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-apiy-Hny {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-la3b-SQy {
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-fh3x-xu7 {
                margin-right: 0.3rem;
                font-size: 1.4rem;
                width: 10rem;
                font-weight: 400;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                white-space: nowrap;
                display: flex;
                align-items: center;
                border-radius: 1rem;
                height: 100%;
                color: #2c2902;
                justify-content: center;
                background-color: #f3faec;
              }
              .auto-group-vad7-eX3 {
                color: #000000;
                border-radius: 1rem;
                flex-shrink: 0;
                height: 100%;
                line-height: 1.5;
                font-weight: 400;
                background-color: #f3faec;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                display: flex;
                white-space: nowrap;
                width: 10.5rem;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .auto-group-d7n9-9Cu {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-vtb7-gTj {
                align-items: center;
                justify-content: center;
                background-color: #f3faec;
                border-radius: 1rem;
                width: 14.9rem;
                height: 100%;
                display: flex;
                margin-right: 0.4rem;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.5;
                flex-shrink: 0;
              }
              .auto-group-ppgz-ySq {
                white-space: nowrap;
                justify-content: center;
                background-color: #f3faec;
                line-height: 1.5;
                flex-shrink: 0;
                width: 11.7rem;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 400;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                align-items: center;
                border-radius: 1rem;
              }
            }
          }
          .auto-group-r9zj-fKf {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-fjbj-1eR {
              align-items: center;
              margin-right: 0.4rem;
              display: flex;
              background-color: #f3faec;
              width: 12.5rem;
              font-size: 1.4rem;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 100%;
              font-weight: 400;
              justify-content: center;
              border-radius: 1rem;
              flex-shrink: 0;
            }
            .auto-group-v4gh-WLH {
              height: 100%;
              white-space: nowrap;
              flex-shrink: 0;
              background-color: #f3faec;
              font-size: 1.4rem;
              color: #000000;
              display: flex;
              justify-content: center;
              font-weight: 400;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              width: 16.6rem;
              align-items: center;
              border-radius: 1rem;
            }
          }
        }
      }
      .line-1-zFT {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-z2yy-utD {
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;

        .vector-dZK {
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
        }
        .senin-minggu-24-jam-ZSy {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
        }
        .auto-group-s6oj-h3P {
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          background-color: #f3faec;
          margin: 0rem 0.3rem 0.3rem 0rem;
          font-weight: 400;
          display: flex;
          width: 14.3rem;
          font-size: 1.4rem;
          border-radius: 1rem;
          height: 3rem;
          justify-content: center;
        }
        .auto-group-ltub-ymb {
          margin-bottom: 0.3rem;
          height: 3rem;
          font-size: 1.4rem;
          color: #000000;
          background-color: #f3faec;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          width: 11.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.5;
          white-space: nowrap;
          border-radius: 1rem;
        }
      }
      .auto-group-ubvb-fuK {
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        position: absolute;
        top: 22.4rem;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        height: 3rem;
        line-height: 1.5;
        border-radius: 1rem;
        width: 18rem;
        left: 100.7rem;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000000;
        background-color: #f3faec;
      }
      .line-2-wrq {
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
      }
      .hubungi-kami-HQu {
        left: 65.4rem;
        top: 29.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.6rem;
        position: absolute;
        font-size: 1.6rem;
        height: 2.4rem;
      }
      .auto-group-b5vz-BWH {
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;

        .auto-group-uuc1-VWy {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjirgmailcom-217 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-zr7f-LGh {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjir123-eoB {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
        }
        .auto-group-7wup-nPb {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjir123-Jsj {
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-mrtt-qcm {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
        }
        .tanggapbanjir123-mFX {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
      }
    }
    .auto-group-kdsf-HzZ {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;

      .copyright2023-pjb {
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .icon-copyright-k7T {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
