
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.panduan-edukasi-kJD {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #82cd47;

  .auto-group-xmwf-fg5 {
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;
    display: flex;

    .logo-nEu {
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 20.7rem 0.5rem 0rem;

      .logo-1-ieM {
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
      }
      .tanggapbanjir-2uw {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .beranda-jpM {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
    }
    .layanan-TEZ {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
    }
    .kontak-aa5 {
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 22rem 0rem 0rem;
      font-size: 1.6rem;
    }
    .daftar-iAV {
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .masuk-3iZ {
      display: flex;
      background-color: #fefefe;
      width: 13.3rem;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      border-radius: 1rem;
      flex-shrink: 0;
      height: 100%;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.5;
      justify-content: center;
      color: #2c2902;
      align-items: center;
    }
  }
  .auto-group-gv7b-Xtd {
    box-sizing: border-box;
    padding: 4.3rem 13rem 4.2rem 12.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .pencarian-eiM {
      border-radius: 2.5rem;
      flex-shrink: 0;
      margin: 0rem 4.6rem 4.7rem 5.2rem;
      padding: 0.9rem 1.9rem 1.4rem 2rem;
      width: calc(100% - 9.8rem);
      align-items: center;
      box-sizing: border-box;
      display: flex;
      background-color: #d9d9d9;

      .search-1-kWV {
        flex-shrink: 0;
        margin-right: 4.4rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .vidio-edukasi-bencana-banjir-t6u {
        flex-shrink: 0;
        margin-right: 43.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #b6b8b5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .enter-1-ozZ {
        margin-top: 0.5rem;
        width: 6.6rem;
        height: 4.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
    }
    .vid5-ibj {
      margin: 0rem 0.2rem 4.3rem 0.3rem;
      width: calc(100% - 0.5rem);
      height: 21.2rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .rectangle-30-qAZ {
        height: 20.5rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #2c2902;
        border-radius: 1rem;
        width: 118rem;
      }
      .jakarta-25-september-2023-xky {
        width: 19.6rem;
        position: absolute;
        left: 40.6rem;
        font-size: 1.4rem;
        line-height: 1.5;
        color: #b6b8b5;
        white-space: nowrap;
        height: 2.1rem;
        top: 17.8rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
      }
      .gambarcara-TBw {
        vertical-align: top;
        border-radius: 1rem;
        width: 38.6rem;
        height: 20.5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .sosialisasi-cara-penanggulangan-bencana-banjir-nk1 {
        top: 4rem;
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
        width: 51rem;
        height: 3rem;
        position: absolute;
        left: 40.4rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .follow-VPX {
        vertical-align: top;
        width: 15rem;
        height: 5.0856rem;
        position: absolute;
        left: 100.2rem;
        top: 8.7rem;
        object-fit: cover;
      }
      .logoyt-R2H {
        width: 3.2rem;
        height: 3.4rem;
        position: absolute;
        left: 40.3rem;
        top: 9.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .arieprabowo-9U5 {
        line-height: 1.5;
        white-space: nowrap;
        height: 3rem;
        left: 44.7rem;
        top: 9.5rem;
        font-weight: 700;
        color: #fdfbfb;
        font-family: Poppins, 'Source Sans Pro';
        width: 15.5rem;
        position: absolute;
        font-size: 2rem;
      }
      .rb-subscriber-35-video-TzZ {
        position: absolute;
        top: 13.9rem;
        font-weight: 700;
        white-space: nowrap;
        color: #fdfbfb;
        font-family: Poppins, 'Source Sans Pro';
        width: 28.2rem;
        height: 3rem;
        left: 40.6rem;
        font-size: 2rem;
        line-height: 1.5;
      }
    }
    .vid4-Aty {
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;

      .gambarcara-uLm {
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .auto-group-bvok-e3T {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;

        .auto-group-evxu-Mc5 {
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 8.8rem;

          .sosialisasi-cara-penanggulangan-bencana-banjir-geM {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .auto-group-gqg5-xLy {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-syj {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
            }
            .arieprabowo-osP {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .rb-subscriber-35-video-kXj {
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .jakarta-25-september-2023-feh {
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .follow-bHT {
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
        }
      }
    }
    .vid3-KDT {
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;

      .gambarcara-qxV {
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-dclh-nMw {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-mpvd-uxM {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-SxH {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .auto-group-rjxo-xvd {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-uL5 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
            }
            .arieprabowo-qzR {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .rb-subscriber-35-video-Pm3 {
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-vFB {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
          }
        }
        .follow-r8q {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .vid2-yjF {
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;

      .gambarcara-7aZ {
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .auto-group-b7s7-4Vo {
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-yvaq-Pny {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-jbw {
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-t2am-3cd {
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;

            .logoyt-a6m {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
            }
            .arieprabowo-hhB {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .rb-subscriber-35-video-3m3 {
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .jakarta-25-september-2023-kfT {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
          }
        }
        .follow-gZ7 {
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .vid1-cBs {
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.5rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;

      .gambarcara-YLR {
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
      }
      .auto-group-ute9-VFf {
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-zcjk-pYq {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-xuw {
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
          }
          .auto-group-amb7-tHo {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-2Q1 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
            }
            .arieprabowo-mcV {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .rb-subscriber-35-video-vEV {
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-STj {
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .follow-xws {
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
        }
      }
    }
    .vid3-h8m {
      margin: 0rem 0.5rem 5rem 0rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;

      .gambarcara-pDP {
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
      }
      .auto-group-5zem-ksj {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-bkbk-6Ro {
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 8.8rem;

          .sosialisasi-cara-penanggulangan-bencana-banjir-qeH {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
          }
          .auto-group-xhbf-kmF {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-J25 {
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arieprabowo-qXo {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .rb-subscriber-35-video-z9o {
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
          }
          .jakarta-25-september-2023-Wdw {
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
          }
        }
        .follow-3tm {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
        }
      }
    }
    .vid2-BEH {
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.5rem 5rem 0rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;

      .gambarcara-JZo {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-fw25-e7s {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;

        .auto-group-mgtr-aXK {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-Kjo {
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-yqjj-Erm {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-n7b {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
            }
            .arieprabowo-KdK {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .rb-subscriber-35-video-GHf {
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-bKw {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
          }
        }
        .follow-LHX {
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
        }
      }
    }
    .vid1-GBB {
      margin: 0rem 0.5rem 3.3rem 0rem;
      width: calc(100% - 0.5rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;

      .gambarcara-ahf {
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-wpcr-7xV {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-6me9-TmT {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-QAu {
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
          .auto-group-5ukm-7r1 {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-FxD {
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arieprabowo-c25 {
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
            }
          }
          .rb-subscriber-35-video-9nh {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
          }
          .jakarta-25-september-2023-UKB {
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
          }
        }
        .follow-1K7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
        }
      }
    }
    .selanjutnya-LMP {
      margin-left: 94.8rem;
      width: calc(100% - 94.8rem);
      cursor: pointer;
      display: flex;
      background-color: #f3faec;
      border-radius: 1rem;
      box-sizing: border-box;
      padding: 2rem 3.5rem;
      align-items: center;
      flex-shrink: 0;

      .selanjutnya-rqX {
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.4rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .icon-arrow-right-CeV {
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 2.8rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .footer-UM7 {
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-dyzf-dUu {
      flex-shrink: 0;
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;

      .auto-group-cass-Z7f {
        display: flex;
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;

        .tentang-kita-4q7 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
        }
        .kontak-CRX {
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .tags-w8D {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-mawb-5ER {
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-nuX {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-coxm-F2R {
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;

          .vector-Z37 {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-VhT {
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-ehof-qFX {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-zftp-Aob {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;

          .jalan-mawar-no01-jakarta-Juo {
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-0812-8764-8757-EoT {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
          .tanggapbanjirgmailcom-Ah7 {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .auto-group-tv3j-WFB {
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-grtr-FTf {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-zats-1Bw {
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);

              .auto-group-r5kw-Xg5 {
                white-space: nowrap;
                justify-content: center;
                font-weight: 400;
                height: 100%;
                font-size: 1.4rem;
                line-height: 1.5;
                background-color: #f3faec;
                border-radius: 1rem;
                margin-right: 0.3rem;
                align-items: center;
                width: 10rem;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                flex-shrink: 0;
                color: #2c2902;
              }
              .auto-group-rdsf-D37 {
                font-weight: 400;
                align-items: center;
                width: 10.5rem;
                background-color: #f3faec;
                height: 100%;
                line-height: 1.5;
                white-space: nowrap;
                display: flex;
                border-radius: 1rem;
                font-size: 1.4rem;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                justify-content: center;
                flex-shrink: 0;
              }
            }
            .auto-group-ka1o-JaM {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-yjiv-3Xw {
                flex-shrink: 0;
                width: 14.9rem;
                font-size: 1.4rem;
                line-height: 1.5;
                background-color: #f3faec;
                margin-right: 0.4rem;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                font-weight: 400;
                justify-content: center;
                border-radius: 1rem;
                height: 100%;
                color: #000000;
                white-space: nowrap;
                align-items: center;
              }
              .auto-group-kswh-L1F {
                line-height: 1.5;
                align-items: center;
                width: 11.7rem;
                font-size: 1.4rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                height: 100%;
                color: #000000;
                display: flex;
                justify-content: center;
                background-color: #f3faec;
                white-space: nowrap;
                border-radius: 1rem;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-ycdp-R2h {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;

            .auto-group-pxy9-y4D {
              height: 100%;
              font-weight: 400;
              background-color: #f3faec;
              border-radius: 1rem;
              flex-shrink: 0;
              width: 12.5rem;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              align-items: center;
              margin-right: 0.4rem;
              font-size: 1.4rem;
              display: flex;
              justify-content: center;
              white-space: nowrap;
            }
            .auto-group-wktv-sQV {
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              flex-shrink: 0;
              color: #000000;
              font-weight: 400;
              line-height: 1.5;
              align-items: center;
              background-color: #f3faec;
              height: 100%;
              border-radius: 1rem;
              font-size: 1.4rem;
              white-space: nowrap;
              width: 16.6rem;
            }
          }
        }
      }
      .line-1-N6M {
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
      }
      .auto-group-w7jo-hPX {
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;

        .vector-pU9 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
        }
        .senin-minggu-24-jam-LxH {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-amjz-H6q {
          color: #000000;
          justify-content: center;
          border-radius: 1rem;
          width: 14.3rem;
          height: 3rem;
          line-height: 1.5;
          margin: 0rem 0.3rem 0.3rem 0rem;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          font-size: 1.4rem;
          background-color: #f3faec;
          flex-shrink: 0;
          font-weight: 400;
          white-space: nowrap;
          align-items: center;
        }
        .auto-group-iizv-mXo {
          font-size: 1.4rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          margin-bottom: 0.3rem;
          background-color: #f3faec;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem;
          white-space: nowrap;
          height: 3rem;
          font-weight: 400;
          flex-shrink: 0;
          width: 11.8rem;
        }
      }
      .auto-group-rfjx-T9j {
        left: 100.7rem;
        top: 22.4rem;
        color: #000000;
        display: flex;
        background-color: #f3faec;
        height: 3rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
        justify-content: center;
        width: 18rem;
        font-size: 1.4rem;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        border-radius: 1rem;
      }
      .line-2-v3K {
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
      }
      .hubungi-kami-SXT {
        font-size: 1.6rem;
        font-weight: 600;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.6rem;
        height: 2.4rem;
        top: 29.8rem;
        line-height: 1.5;
        position: absolute;
        left: 65.4rem;
      }
      .auto-group-kvks-YqP {
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;

        .auto-group-gkn1-GFb {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjirgmailcom-nzd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-k4av-uJZ {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-pwK {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
        }
        .auto-group-rbqk-xGq {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-5MT {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-kxys-c6V {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-jgu {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
        }
      }
    }
    .auto-group-4zr1-4z5 {
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;

      .copyright2023-18d {
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .icon-copyright-ioj {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
      }
    }
  }
}
