
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.panduanedukasitampilanvideo-cS5 {
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-hfrt-Lss {
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;

    .logo-f9T {
      flex-shrink: 0;
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;

      .logo-1-bYu {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
      }
      .tanggapbanjir-WQy {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .beranda-R29 {
      white-space: nowrap;
      margin: 0.2rem 3.2rem 0rem 0rem;
      line-height: 1.5;
      font-weight: 700;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
    }
    .layanan-imw {
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .kontak-3ZK {
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.2rem 22rem 0rem 0rem;
      cursor: pointer;
      font-size: 1.6rem;
      color: #f8f5e7;
      white-space: nowrap;
    }
    .daftar-ZXf {
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-weight: 400;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      white-space: nowrap;
    }
    .masuk-HTf {
      white-space: nowrap;
      flex-shrink: 0;
      width: 13.3rem;
      cursor: pointer;
      color: #2c2902;
      background-color: #fefefe;
      border-radius: 1rem;
      font-size: 1.6rem;
      line-height: 1.5;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .auto-group-budo-9Vs {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.3rem 12.7rem 4.4rem 13.1rem;
    width: 100%;

    .pencarian-4Mw {
      margin: 0rem 6.1rem 4.9rem 3.4rem;
      box-sizing: border-box;
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 2.5rem;
      padding: 0.9rem 3.1rem 1.4rem 1.7rem;
      width: calc(100% - 9.5rem);
      display: flex;
      flex-shrink: 0;

      .search-1-udT {
        margin-right: 4.4rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vidio-edukasi-bencana-banjir-CsT {
        line-height: 1.5;
        color: #b6b8b5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 43rem;
        font-size: 3.2rem;
        font-weight: 400;
      }
      .enter-1-8m7 {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 6.6rem;
        height: 4.3rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
    }
    .kontenyt-3dB {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 14.3rem 4rem 13.8rem;
      width: calc(100% - 28.1rem);
      height: 50.8rem;

      .rectangle-31-m3P {
        width: 89.9984rem;
        height: 50.8rem;
        position: absolute;
        left: 0.1016rem;
        top: 0;
        background-color: #2c2902;
        border-radius: 1rem;
      }
      .jakarta-25-september-2023-t81 {
        white-space: nowrap;
        width: 19.6rem;
        left: 8.3294rem;
        color: #b6b8b5;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.5;
        height: 2.1rem;
        position: absolute;
        top: 47.8rem;
        font-size: 1.4rem;
      }
      .sosialisasi-cara-penanggulangan-bencana-banjir-vKb {
        height: 3rem;
        top: 41.3rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        width: 51rem;
        position: absolute;
        left: 1.5237rem;
        font-size: 2rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .videoyt-ciD {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        width: 89.9984rem;
        height: 39.2rem;
        position: absolute;
      }
      .logoyt-k3j {
        left: 2.4379rem;
        top: 44.8rem;
        object-fit: cover;
        vertical-align: top;
        width: 3.2505rem;
        height: 3.4rem;
        position: absolute;
      }
      .arieprabowo-se9 {
        position: absolute;
        font-size: 2rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 15.5rem;
        height: 3rem;
        left: 8.0247rem;
        top: 44.3rem;
        font-weight: 700;
        color: #fdfbfb;
      }
    }
    .vid5-mzR {
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0.2rem 5rem 0rem;
      width: calc(100% - 0.2rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;

      .gambarcara-hNH {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-q7yb-Ed7 {
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-bwiu-Amf {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-hWh {
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-dqwh-c7s {
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;

            .logoyt-vuF {
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
            }
            .arieprabowo-GTK {
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
          .rb-subscriber-35-video-DNZ {
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .jakarta-25-september-2023-Xe9 {
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .follow-4PB {
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
        }
      }
    }
    .vid4-Nuf {
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.2rem;
      width: calc(100% - 0.2rem);

      .gambarcara-hww {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-svms-41o {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-agv7-BcD {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-vZo {
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-gctz-SHF {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-a8Z {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
            }
            .arieprabowo-ugd {
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
            }
          }
          .rb-subscriber-35-video-43j {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
          }
          .jakarta-25-september-2023-BPF {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .follow-i8H {
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .vid3-3AZ {
      margin: 0rem 0rem 5rem 0.2rem;
      width: calc(100% - 0.2rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;

      .gambarcara-mMT {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-jspq-uyT {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;

        .auto-group-hqt9-r81 {
          flex-shrink: 0;
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;

          .sosialisasi-cara-penanggulangan-bencana-banjir-zED {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .auto-group-j9kw-JVo {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-e3s {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
            }
            .arieprabowo-eTB {
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
            }
          }
          .rb-subscriber-35-video-AwK {
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-VCu {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .follow-Ct1 {
          height: 5.0856rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
        }
      }
    }
    .vid2-j7F {
      flex-shrink: 0;
      margin: 0rem 0rem 5rem 0.2rem;
      width: calc(100% - 0.2rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;

      .gambarcara-qvy {
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        width: 38.6rem;
      }
      .auto-group-jxq7-PSh {
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-e9ms-X37 {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-rbB {
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-1hdb-a1P {
            margin: 0rem 31.2rem 1rem 0rem;
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;

            .logoyt-Ji5 {
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 3.2rem;
            }
            .arieprabowo-FdK {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .rb-subscriber-35-video-PzR {
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
          }
          .jakarta-25-september-2023-7fX {
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .follow-3JH {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
        }
      }
    }
    .vid1-xw3 {
      margin-left: 0.2rem;
      width: calc(100% - 0.2rem);
      height: 20.5rem;
      display: flex;
      align-items: center;
      background-color: #2c2902;
      border-radius: 1rem;
      flex-shrink: 0;

      .gambarcara-WBs {
        width: 38.6rem;
        height: 20.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
      }
      .auto-group-78mx-F9T {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 4rem 2.8rem 0.6rem 1.7rem;
        height: 100%;
        display: flex;
        align-items: center;

        .auto-group-jhw7-n9P {
          margin-right: 8.8rem;
          width: 51.1rem;
          height: 100%;
          flex-shrink: 0;

          .sosialisasi-cara-penanggulangan-bencana-banjir-7xM {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.1rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .auto-group-qelz-SDw {
            width: calc(100% - 31.2rem);
            display: flex;
            align-items: flex-start;
            margin: 0rem 31.2rem 1rem 0rem;

            .logoyt-ZZT {
              margin-right: 1.2rem;
              width: 3.2rem;
              height: 3.4rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .arieprabowo-JX3 {
              line-height: 1.5;
              color: #fdfbfb;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 700;
            }
          }
          .rb-subscriber-35-video-SdF {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            color: #fdfbfb;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.9rem 0.3rem;
          }
          .jakarta-25-september-2023-Zhs {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 0.3rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b6b8b5;
          }
        }
        .follow-Htm {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.4144rem;
          width: 15rem;
          height: 5.0856rem;
          object-fit: cover;
        }
      }
    }
  }
  .footer-p81 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-2idf-Ahf {
      flex-shrink: 0;
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;

      .auto-group-repj-Jos {
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;
        align-items: center;
        width: 91.7rem;

        .tentang-kita-qJ1 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
        }
        .kontak-AbB {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
        }
        .tags-6zd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
      }
      .auto-group-gqud-Sob {
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;
        align-items: center;
        width: 115.2rem;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-MvZ {
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-vji1-DC5 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;

          .vector-8K3 {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-sGd {
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
          }
          .auto-group-62h7-D5b {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-by9f-jpd {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;

          .jalan-mawar-no01-jakarta-5Nh {
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
          .item-0812-8764-8757-Qfs {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .tanggapbanjirgmailcom-8rm {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
          }
        }
        .auto-group-zpss-sZT {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;

          .auto-group-gqnd-pUh {
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .auto-group-mhay-xqo {
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-8q2h-Ht5 {
                white-space: nowrap;
                margin-right: 0.3rem;
                font-weight: 400;
                border-radius: 1rem;
                flex-shrink: 0;
                height: 100%;
                justify-content: center;
                color: #2c2902;
                background-color: #f3faec;
                font-size: 1.4rem;
                line-height: 1.5;
                display: flex;
                align-items: center;
                width: 10rem;
                font-family: Poppins, 'Source Sans Pro';
              }
              .auto-group-3c7j-yW1 {
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
                width: 10.5rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                height: 100%;
                font-size: 1.4rem;
                background-color: #f3faec;
                border-radius: 1rem;
                white-space: nowrap;
                display: flex;
                justify-content: center;
              }
            }
            .auto-group-cki9-FyK {
              flex-shrink: 0;
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;

              .auto-group-wri5-CNm {
                white-space: nowrap;
                display: flex;
                width: 14.9rem;
                height: 100%;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                background-color: #f3faec;
                border-radius: 1rem;
                margin-right: 0.4rem;
                font-size: 1.4rem;
                color: #000000;
                font-weight: 400;
                line-height: 1.5;
              }
              .auto-group-xrfp-gYq {
                align-items: center;
                width: 11.7rem;
                display: flex;
                justify-content: center;
                border-radius: 1rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                height: 100%;
                color: #000000;
                white-space: nowrap;
                background-color: #f3faec;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
          }
          .auto-group-jz6h-aeD {
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;

            .auto-group-2wgq-XJZ {
              width: 12.5rem;
              height: 100%;
              font-size: 1.4rem;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #f3faec;
              border-radius: 1rem;
              font-weight: 400;
              white-space: nowrap;
              display: flex;
              align-items: center;
              margin-right: 0.4rem;
              line-height: 1.5;
              color: #000000;
              justify-content: center;
            }
            .auto-group-ffvr-QdF {
              line-height: 1.5;
              background-color: #f3faec;
              flex-shrink: 0;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              align-items: center;
              display: flex;
              justify-content: center;
              border-radius: 1rem;
              font-size: 1.4rem;
              font-weight: 400;
              white-space: nowrap;
              width: 16.6rem;
              height: 100%;
            }
          }
        }
      }
      .line-1-HBF {
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
      }
      .auto-group-ve8h-1d3 {
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;

        .vector-jJ9 {
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .senin-minggu-24-jam-45X {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-suvk-PNh {
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          justify-content: center;
          background-color: #f3faec;
          margin: 0rem 0.3rem 0.3rem 0rem;
          height: 3rem;
          font-size: 1.4rem;
          line-height: 1.5;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 14.3rem;
          align-items: center;
          color: #000000;
        }
        .auto-group-ptmj-Fvh {
          display: flex;
          flex-shrink: 0;
          height: 3rem;
          font-size: 1.4rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
          margin-bottom: 0.3rem;
          width: 11.8rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          background-color: #f3faec;
        }
      }
      .auto-group-go4u-jqs {
        width: 18rem;
        font-size: 1.4rem;
        color: #000000;
        left: 100.7rem;
        white-space: nowrap;
        align-items: center;
        background-color: #f3faec;
        height: 3rem;
        position: absolute;
        top: 22.4rem;
        font-weight: 400;
        line-height: 1.5;
        display: flex;
        border-radius: 1rem;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
      }
      .line-2-cPs {
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
      }
      .hubungi-kami-wh3 {
        top: 29.8rem;
        line-height: 1.5;
        color: #f3faec;
        white-space: nowrap;
        width: 11.6rem;
        height: 2.4rem;
        position: absolute;
        left: 65.4rem;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-ws4m-erM {
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;

        .auto-group-xu1t-ZiR {
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .tanggapbanjirgmailcom-HPX {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .auto-group-1dnq-QDF {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
        }
        .tanggapbanjir123-Kr1 {
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-katb-TBX {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
        }
        .tanggapbanjir123-yff {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
        }
        .auto-group-juts-Ve1 {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-pwB {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
    .auto-group-btxq-YsB {
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;

      .copyright2023-UVw {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
      }
      .icon-copyright-baZ {
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
      }
    }
  }
}
