
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.relawanprofilkomunitas-k97 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3faec;

  .auto-group-4mjf-fG5 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;

    .logo-Aid {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-W1o {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
      }
      .tanggapbanjir-cqX {
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
      }
    }
    .beranda-wN1 {
      margin: 0.2rem 3.2rem 0rem 0rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #f8f5e7;
      white-space: nowrap;
    }
    .layanan-qiH {
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .kontak-AEm {
      margin: 0.2rem 22rem 0rem 0rem;
      font-size: 1.6rem;
      line-height: 1.5;
      white-space: nowrap;
      cursor: pointer;
      font-weight: 400;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .daftar-sey {
      margin: 0.2rem 3.7rem 0rem 0rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      white-space: nowrap;
    }
    .masuk-JEV {
      width: 13.3rem;
      cursor: pointer;
      color: #2c2902;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      height: 100%;
      font-weight: 700;
      line-height: 1.5;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      background-color: #fefefe;
      flex-shrink: 0;
      font-size: 1.6rem;
      justify-content: center;
    }
  }
  .auto-group-pcth-BJH {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.9rem 12.2rem 5rem 13rem;

    .auto-group-pckh-7Bw {
      flex-shrink: 0;
      margin: 0rem 2.3rem 3.5rem 0rem;
      width: calc(100% - 2.3rem);
      display: flex;
      align-items: flex-end;

      .judul-dvy {
        margin: 0rem 40.6rem 0.2rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .profil-komunitas-Zpd {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .komunitas-yang-siap-sedia-ditengah-hujan-badai-melanda-6pZ {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .like-DeH {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .icon-instagram-likes-ajj {
          margin-bottom: 0.0333rem;
          width: 4.5rem;
          height: 4.5667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .like-uX7 {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #b6b8b5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .ketkom-3dK {
      margin-bottom: 0.2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-3chf-bPw {
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        width: 100%;
        height: 29rem;
        display: flex;
        align-items: center;

        .rectangle-54-LsK {
          height: 29rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 2rem;
          width: 38rem;
        }
        .auto-group-ighx-ssF {
          width: 78.8rem;
          height: calc(100% - 4rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.9rem 0rem 2.1rem 0rem;

          .yayasan-rumah-solusi-beta-indonesia-QMP {
            line-height: 1.5;
            color: #2c2902;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 4rem;
            font-weight: 700;
          }
          .auto-group-dyez-LF3 {
            box-sizing: border-box;
            padding-top: 0.2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-ybe1-gJu {
              width: calc(100% - 25.7rem);
              height: 6.4rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 25.7rem 1.6rem 0rem;

              .auto-group-w8zd-Co3 {
                margin: 0.8rem 0.8rem 0.9rem 0rem;
                height: calc(100% - 1.7rem);
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .location-1-Kcm {
                  margin-bottom: 1rem;
                  width: 1.9rem;
                  height: 1.9rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .user-1-rch {
                  width: 1.8rem;
                  height: 1.8rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .auto-group-n4nv-Q8R {
                flex-shrink: 0;
                width: 50.4rem;
                height: 100%;
                position: relative;

                .kabupaten-kupang-nusa-tenggara-timur-ki5 {
                  white-space: nowrap;
                  width: 50.4rem;
                  position: absolute;
                  line-height: 1.5;
                  color: #b6b8b5;
                  font-family: Poppins, 'Source Sans Pro';
                  height: 3.6rem;
                  left: 0;
                  top: 0;
                  font-size: 2.4rem;
                  font-weight: 400;
                }
                .anggota-s21 {
                  width: 14.8rem;
                  top: 2.8rem;
                  font-weight: 400;
                  color: #b6b8b5;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 3.6rem;
                  position: absolute;
                  left: 0;
                  font-size: 2.4rem;
                  line-height: 1.5;
                }
              }
            }
            .organisasi-sosial-yang-bergerak-di-bidang-pengembangan-pemimpin-muda-ekologi-dan-pendidikan-dengan-konsep-alam-yaq {
              max-width: 50.8rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.5;
              color: #2c2902;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
      .keterangan--FYM {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-prub-CCh {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.8rem;
        width: 100%;
        row-gap: 0.3rem;
        display: flex;
        flex-direction: column;

        .auto-group-s1az-8c9 {
          align-items: center;
          flex-shrink: 0;
          margin-right: 97.2rem;
          width: calc(100% - 97.2rem);
          display: flex;

          .calendar-1-spd {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.2rem 0.5rem 0rem 0rem;
            width: 2.2rem;
            height: 2rem;
            object-fit: cover;
          }
          .september-2016-c1X {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
          }
        }
        .auto-group-jmpx-91T {
          margin-right: 80.5rem;
          width: calc(100% - 80.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .social-1-Vb7 {
            flex-shrink: 0;
            margin: 0.4rem 0.7rem 0rem 0rem;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
          }
          .sekolahalammanusakgmailcom-Dn1 {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
          }
        }
        .auto-group-fua9-kmw {
          margin-right: 102.5rem;
          width: calc(100% - 102.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .telephone-call-1-1-gvV {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.5rem;
            width: 2.2rem;
            height: 2.2rem;
          }
          .item-081339718464-cp9 {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .aktivitaskita-9JH {
      margin: 0rem 10.3rem 0rem 10rem;
      width: calc(100% - 20.3rem);
      height: 25.4rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .ellipse-15-fXX {
        margin-right: 1.8rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:1c74471625478265361954acb392054bd2b1a00e');
        border-radius: 9.05rem;
        flex-shrink: 0;
        width: 18.1rem;
        height: 18.1rem;
        background-position: center;
      }
      .auto-group-kcnd-mqT {
        margin-right: 2rem;
        width: 58.5rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .aktivitas-kita-JqP {
          font-size: 4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.2rem 1.3rem 0rem;
        }
        .auto-group-28a5-qKX {
          display: flex;
          column-gap: 2.1rem;
          align-items: center;
          flex-shrink: 0;
          width: 100%;

          .ellipse-16-BPP {
            width: 18.1rem;
            height: 18.1rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:bc518d50c5334281ff22437b02d4a093989d85ae');
            border-radius: 9.05rem;
            flex-shrink: 0;
          }
          .ellipse-17-hsX {
            background-position: center;
            background-image: url('REPLACE_IMAGE:ca33538b8be2d33abc9f9d3bbe76e596852881bb');
            border-radius: 9.05rem;
            flex-shrink: 0;
            width: 18.1rem;
            height: 18.1rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          .ellipse-18-EcZ {
            background-image: url('REPLACE_IMAGE:04421cb66c530c4cf21d9bff9ea9d599606b2565');
            border-radius: 9.05rem;
            flex-shrink: 0;
            width: 18.1rem;
            height: 18.1rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
      .ellipse-19-Zeq {
        background-position: center;
        background-image: url('REPLACE_IMAGE:37c26ba3278b193e1edd2518a83c8f9aa814f2b0');
        border-radius: 9.05rem;
        flex-shrink: 0;
        width: 18.1rem;
        height: 18.1rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
      }
    }
  }
  .footer-sfX {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-yar5-Eky {
      flex-shrink: 0;
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;

      .auto-group-afpm-NMP {
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;

        .tentang-kita-HUM {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
        }
        .kontak-2B3 {
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
          font-size: 2.4rem;
        }
        .tags-NEu {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
        }
      }
      .auto-group-stbj-6wb {
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-dgd {
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
        }
        .auto-group-a9wy-6KK {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;

          .vector-cYZ {
            width: 1.4rem;
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .telephone-call-2-1-AKB {
            height: 1.7rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
          }
          .auto-group-8rjp-u1s {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-fxxx-Epq {
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .jalan-mawar-no01-jakarta-n5f {
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-0812-8764-8757-WXT {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
          }
          .tanggapbanjirgmailcom-dry {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-5r77-B7o {
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-ck4q-idX {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;

            .auto-group-c5xm-fHs {
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-zdhs-C2u {
                font-size: 1.4rem;
                font-weight: 400;
                white-space: nowrap;
                justify-content: center;
                border-radius: 1rem;
                flex-shrink: 0;
                width: 10rem;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
                line-height: 1.5;
                display: flex;
                background-color: #f3faec;
                margin-right: 0.3rem;
                height: 100%;
                align-items: center;
              }
              .auto-group-anam-5Mb {
                height: 100%;
                justify-content: center;
                flex-shrink: 0;
                font-size: 1.4rem;
                color: #000000;
                display: flex;
                border-radius: 1rem;
                width: 10.5rem;
                font-weight: 400;
                background-color: #f3faec;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
              }
            }
            .auto-group-u3nh-ZnZ {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-6c9o-urR {
                font-size: 1.4rem;
                flex-shrink: 0;
                height: 100%;
                border-radius: 1rem;
                width: 14.9rem;
                color: #000000;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                margin-right: 0.4rem;
                font-weight: 400;
                line-height: 1.5;
                align-items: center;
                justify-content: center;
                background-color: #f3faec;
              }
              .auto-group-skx1-1Pf {
                width: 11.7rem;
                line-height: 1.5;
                color: #000000;
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 1rem;
                height: 100%;
                white-space: nowrap;
                display: flex;
                background-color: #f3faec;
                flex-shrink: 0;
              }
            }
          }
          .auto-group-ru4d-6vu {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;
            display: flex;

            .auto-group-2t5j-FYu {
              white-space: nowrap;
              display: flex;
              align-items: center;
              font-weight: 400;
              color: #000000;
              line-height: 1.5;
              flex-shrink: 0;
              width: 12.5rem;
              font-size: 1.4rem;
              border-radius: 1rem;
              margin-right: 0.4rem;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #f3faec;
              height: 100%;
              justify-content: center;
            }
            .auto-group-fcjk-LaM {
              font-size: 1.4rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              font-weight: 400;
              width: 16.6rem;
              justify-content: center;
              background-color: #f3faec;
              border-radius: 1rem;
              white-space: nowrap;
              color: #000000;
            }
          }
        }
      }
      .line-1-pVX {
        top: 6.95rem;
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
      }
      .auto-group-zx13-YwK {
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;

        .vector-5AZ {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
        }
        .senin-minggu-24-jam-CW5 {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-mxmf-XHT {
          height: 3rem;
          font-size: 1.4rem;
          white-space: nowrap;
          align-items: center;
          margin: 0rem 0.3rem 0.3rem 0rem;
          width: 14.3rem;
          font-weight: 400;
          justify-content: center;
          background-color: #f3faec;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          border-radius: 1rem;
          flex-shrink: 0;
          line-height: 1.5;
        }
        .auto-group-hunh-okm {
          color: #000000;
          white-space: nowrap;
          border-radius: 1rem;
          margin-bottom: 0.3rem;
          height: 3rem;
          line-height: 1.5;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          font-weight: 400;
          justify-content: center;
          width: 11.8rem;
          font-size: 1.4rem;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #f3faec;
        }
      }
      .auto-group-dsgr-gZf {
        line-height: 1.5;
        background-color: #f3faec;
        border-radius: 1rem;
        width: 18rem;
        top: 22.4rem;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        align-items: center;
        position: absolute;
        left: 100.7rem;
        color: #000000;
        justify-content: center;
        height: 3rem;
        font-weight: 400;
        font-size: 1.4rem;
        white-space: nowrap;
      }
      .line-2-AUq {
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
      }
      .hubungi-kami-Vn1 {
        width: 11.6rem;
        position: absolute;
        top: 29.8rem;
        font-size: 1.6rem;
        font-weight: 600;
        height: 2.4rem;
        left: 65.4rem;
        line-height: 1.5;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-wgrf-oGu {
        align-items: center;
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;

        .auto-group-ptgq-v6d {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
        }
        .tanggapbanjirgmailcom-eHX {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .auto-group-p2p3-MSq {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-5dj {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-qmgd-zkh {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-8M7 {
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-cv1j-r2D {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-mey {
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-phdj-W6m {
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      display: flex;

      .copyright2023-EoT {
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .icon-copyright-yFF {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0127rem;
        width: 1.3874rem;
        height: 1.3873rem;
        object-fit: contain;
      }
    }
  }
}
