
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.relawanprofilerelawan-hgD {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3faec;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-7ncz-q1j {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #2c2902;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3rem 13.3rem;

    .logo-92R {
      margin: 0rem 20.7rem 0.5rem 0rem;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-1-fmT {
        margin: 0rem 1.1rem 0.1rem 0rem;
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .tanggapbanjir-nbB {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
      }
    }
    .beranda-JpR {
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0.2rem 3.2rem 0rem 0rem;
      cursor: pointer;
      line-height: 1.5;
      color: #f8f5e7;
      flex-shrink: 0;
    }
    .layanan-QsT {
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 4.1rem 0rem 0rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .kontak-LWD {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      flex-shrink: 0;
      margin: 0.2rem 22rem 0rem 0rem;
      cursor: pointer;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .daftar-f2h {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.2rem 3.7rem 0rem 0rem;
      cursor: pointer;
      color: #f8f5e7;
      white-space: nowrap;
    }
    .masuk-AVF {
      color: #2c2902;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      align-items: center;
      height: 100%;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 700;
      justify-content: center;
      width: 13.3rem;
      border-radius: 1rem;
      line-height: 1.5;
      white-space: nowrap;
      background-color: #fefefe;
      flex-shrink: 0;
    }
  }
  .auto-group-tp1s-Ezu {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.5rem 12.9rem 4.9rem 13rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .judul-ZXP {
      margin: 0rem 69rem 1.6rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .profile-relawan-htV {
        font-weight: 700;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4rem;
      }
      .kami-relawan-kami-peduli-kami-beraksi-qUu {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .biorelawan-ZQu {
      width: calc(100% - 43.6rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 21.75rem 4.1rem 21.85rem;

      .ellipse-20-gkR {
        border-radius: 15.65rem;
        flex-shrink: 0;
        margin: 0rem 22.85rem 1.6rem 20.35rem;
        height: 31.3rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: calc(100% - 43.2rem);
        background-position: center;
        background-image: url('REPLACE_IMAGE:dbaa591bdc9fe6bbd99dd07e3819ab2c4c92688a');
      }
      .auto-group-pwsh-nHf {
        height: 9.6rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 21.84rem 0.1rem 21.65rem;
        width: calc(100% - 43.4902rem);

        .ridwan-pratama-hvR {
          position: absolute;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.5;
          color: #000000;
          width: 31rem;
          height: 5.4rem;
          left: 0;
          top: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mahasiswa-c1o {
          white-space: nowrap;
          width: 18.1rem;
          left: 6.4rem;
          top: 4.8rem;
          font-size: 3.2rem;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          height: 4.8rem;
          position: absolute;
          font-weight: 400;
        }
        .line-4-umb {
          width: 30.9196rem;
          height: 0.2rem;
          position: absolute;
          left: 0.0902rem;
          top: 4.75rem;
          background-color: #2c2902;
        }
      }
      .tahun-qQM {
        flex-shrink: 0;
        margin: 0rem 0.2rem 4.1rem 0rem;
        text-align: center;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
      }
      .ketika-banjir-menghancurkan-kita-hadir-untuk-membangun-bersama-sama-kita-bisa-mengubah-bencana-menjadi-kesempatan-untuk-menunjukkan-kebaikan-dan-kasih-sayang-kita-kepada-sesama-Lru {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 74.5rem;
        text-align: center;
        font-size: 2.4rem;
      }
    }
    .pengalaman-b29 {
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.9rem 0.1rem;
      width: 118rem;

      .motivasi-KTw {
        font-size: 3.6rem;
        font-weight: 600;
        margin-bottom: 1.8rem;
        text-align: center;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
      }
      .auto-group-j1bf-eWD {
        width: 100%;
        height: 26.2rem;
        border: solid 0.2rem #82cd47;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #2c2902;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 5.9rem 4rem;

        .kepedulian-saya-terhadap-keselamatan-dan-kesejahteraan-sesama-manusia-menjadi-motivasi-utama-saya-untuk-menjadi-relawan-banjir-saya-percaya-bahwa-kita-semua-memiliki-tanggung-jawab-untuk-membantu-mereka-yang-membutuhkan-dalam-situasi-darurat-C1w {
          max-width: 105.8rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #82cd47;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .tujuan-Acy {
      width: 118rem;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.9rem 0.1rem;

      .tujuan-WB3 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #2c2902;
      }
      .auto-group-6jnz-eHF {
        background-color: #2c2902;
        border-radius: 1rem;
        box-sizing: border-box;
        padding: 4.1rem 4.3rem 4.1rem 4rem;
        width: 100%;
        height: 26.2rem;
        border: solid 0.2rem #82cd47;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .tujuan-saya-sebagai-relawan-banjir-adalah-memberikan-bantuan-yang-diperlukan-kepada-mereka-yang-terdampak-membantu-dalam-upaya-penyelamatan-dan-mendukung-pemulihan-komunitas-saya-juga-berkomitmen-untuk-terus-belajar-dan-berkembang-sebagai-relawan-agar-dapat-memberikan-kontribusi-yang-lebih-besar-lagi-di-masa-depan-NU9 {
          max-width: 109.7rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #82cd47;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .pengalaman-Wyf {
      margin: 0rem 0rem 3.9rem 0.1rem;
      width: 118rem;
      border-radius: 1rem;
      flex-shrink: 0;

      .pengalaman-FwF {
        white-space: nowrap;
        margin-bottom: 1.8rem;
        font-size: 3.6rem;
        font-weight: 600;
        line-height: 1.5;
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-tri5-ztq {
        box-sizing: border-box;
        padding: 7.7rem 4rem;
        width: 100%;
        height: 26.2rem;
        border: solid 0.2rem #82cd47;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #2c2902;
        border-radius: 1rem;

        .saya-telah-aktif-sebagai-relawan-dalam-penanganan-banjir-selama-jumlah-tahun-tahun-selama-periode-ini-saya-telah-terlibat-dalam-berbagai-proyek-dan-kegiatan-yang-bertujuan-untuk-membantu-komunitas-yang-terkena-dampak-banjir-jrR {
          font-weight: 500;
          line-height: 1.5;
          color: #82cd47;
          font-family: Poppins, 'Source Sans Pro';
          max-width: 110rem;
          font-size: 2.4rem;
        }
      }
    }
    .kontakrelawan-wBo {
      margin-right: 87.3rem;
      width: 30.8rem;
      flex-shrink: 0;

      .kontak--ftV {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.2rem;
        font-size: 2.4rem;
        font-weight: 600;
      }
      .auto-group-fja5-cHw {
        margin: 0rem 10.2rem 1rem 0rem;
        width: calc(100% - 10.2rem);
        display: flex;
        align-items: center;

        .auto-group-xds9-wb7 {
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3rem;
          width: 4.2rem;
        }
        .ridwanpratama22-sUm {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
        }
      }
      .auto-group-4kk5-QUh {
        margin: 0rem 10.5rem 1rem 0.3rem;
        width: calc(100% - 10.8rem);
        display: flex;
        align-items: center;

        .auto-group-gdvs-YL1 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .ridwanpratama22-HHb {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #2c2902;
        }
      }
      .auto-group-lycq-pHX {
        margin-left: 0.5rem;
        width: calc(100% - 0.5rem);
        display: flex;
        align-items: flex-start;

        .auto-group-jheq-Zku {
          margin-right: 1.2rem;
          width: 3.8rem;
          height: 3.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ridwanpratama22gmailcom-upm {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
        }
      }
    }
  }
  .footer-dkm {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;

    .auto-group-ksbj-ndf {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-w4kq-jJ1 {
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;

        .tentang-kita-fBf {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
        .kontak-Bfo {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.6rem;
        }
        .tags-Kn1 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-mrjo-fay {
        top: 9.1rem;
        display: flex;
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-ahw {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
        }
        .auto-group-hrmj-pcH {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;
          display: flex;

          .vector-8ss {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
            height: 1.9rem;
          }
          .telephone-call-2-1-t6M {
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: cover;
          }
          .auto-group-kk3k-1wf {
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.6rem;
          }
        }
        .auto-group-luv7-N1X {
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;

          .jalan-mawar-no01-jakarta-6iD {
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .item-0812-8764-8757-RkV {
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .tanggapbanjirgmailcom-wiq {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-imdk-gAd {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-lsbo-RP7 {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-aech-a17 {
              width: calc(100% - 8.7rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;

              .auto-group-hmmj-Vds {
                white-space: nowrap;
                display: flex;
                background-color: #f3faec;
                margin-right: 0.3rem;
                height: 100%;
                align-items: center;
                flex-shrink: 0;
                font-size: 1.4rem;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
                border-radius: 1rem;
                width: 10rem;
                font-weight: 400;
                line-height: 1.5;
                justify-content: center;
              }
              .auto-group-vwad-Azu {
                white-space: nowrap;
                height: 100%;
                font-weight: 400;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                width: 10.5rem;
                color: #000000;
                background-color: #f3faec;
                font-size: 1.4rem;
                border-radius: 1rem;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .auto-group-nqvv-UEu {
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 2.5rem;

              .auto-group-mz2h-1kd {
                background-color: #f3faec;
                font-family: Poppins, 'Source Sans Pro';
                color: #000000;
                white-space: nowrap;
                align-items: center;
                flex-shrink: 0;
                font-weight: 400;
                height: 100%;
                line-height: 1.5;
                justify-content: center;
                width: 14.9rem;
                font-size: 1.4rem;
                display: flex;
                border-radius: 1rem;
                margin-right: 0.4rem;
              }
              .auto-group-pkgm-72y {
                line-height: 1.5;
                color: #000000;
                white-space: nowrap;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                width: 11.7rem;
                justify-content: center;
                border-radius: 1rem;
                font-weight: 400;
                background-color: #f3faec;
              }
            }
          }
          .auto-group-mrxb-PFP {
            width: 100%;
            height: 3rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-qcfs-8im {
              margin-right: 0.4rem;
              font-size: 1.4rem;
              color: #000000;
              align-items: center;
              width: 12.5rem;
              font-weight: 400;
              display: flex;
              height: 100%;
              line-height: 1.5;
              flex-shrink: 0;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
              background-color: #f3faec;
              border-radius: 1rem;
            }
            .auto-group-iyvd-985 {
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              height: 100%;
              color: #000000;
              border-radius: 1rem;
              font-size: 1.4rem;
              align-items: center;
              line-height: 1.5;
              flex-shrink: 0;
              width: 16.6rem;
              font-weight: 400;
              white-space: nowrap;
              background-color: #f3faec;
            }
          }
        }
      }
      .line-1-S7B {
        background-color: #f3faec;
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
      }
      .auto-group-xofo-Zhb {
        top: 19.1rem;
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;

        .vector-UJm {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
        }
        .senin-minggu-24-jam-1Jh {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #f3faec;
        }
        .auto-group-wgkb-wTF {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14.3rem;
          font-weight: 400;
          line-height: 1.5;
          margin: 0rem 0.3rem 0.3rem 0rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #f3faec;
          flex-shrink: 0;
          height: 3rem;
          font-size: 1.4rem;
          color: #000000;
          border-radius: 1rem;
        }
        .auto-group-xeru-Dff {
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          height: 3rem;
          font-family: Poppins, 'Source Sans Pro';
          color: #000000;
          font-size: 1.4rem;
          font-weight: 400;
          justify-content: center;
          border-radius: 1rem;
          margin-bottom: 0.3rem;
          line-height: 1.5;
          background-color: #f3faec;
          width: 11.8rem;
          display: flex;
        }
      }
      .auto-group-pkam-haq {
        width: 18rem;
        color: #000000;
        justify-content: center;
        background-color: #f3faec;
        top: 22.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        border-radius: 1rem;
        position: absolute;
        left: 100.7rem;
        line-height: 1.5;
        display: flex;
        align-items: center;
        height: 3rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .line-2-Bku {
        width: 118.0015rem;
        height: 0.5rem;
        position: absolute;
        left: 12.9992rem;
        top: 28.5rem;
        background-color: #f3faec;
      }
      .hubungi-kami-j1j {
        top: 29.8rem;
        font-size: 1.6rem;
        color: #f3faec;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.6rem;
        height: 2.4rem;
        position: absolute;
        left: 65.4rem;
      }
      .auto-group-yajv-SRw {
        width: 99.6rem;
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;

        .auto-group-amds-xfB {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjirgmailcom-gbB {
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-r6am-oQu {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
        }
        .tanggapbanjir123-jJZ {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-rpc9-Fnh {
          height: 4.2rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
        }
        .tanggapbanjir123-yyb {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .auto-group-t9uk-7K7 {
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjir123-19b {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-cvn9-tjB {
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;
      height: 2.3rem;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;

      .group-46-CUy {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .copyright2023-99K {
          margin-right: 0.1rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(44, 41, 2, 0.5);
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .icon-copyright-fNZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.0126rem;
          width: 1.3874rem;
          height: 1.3874rem;
        }
      }
    }
  }
}
