
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-kUZ {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #82cd47;
  width: 100%;
  overflow: hidden;

  .auto-group-mvd7-vnM {
    margin-bottom: 4.9rem;
    width: 100%;
    height: 10rem;
    position: relative;
    flex-shrink: 0;

    .logo-PZT {
      width: 23.2rem;
      height: 3.5rem;
      position: absolute;
      left: 13.3rem;
      top: 3rem;
      display: flex;
      align-items: flex-end;

      .logo-1-6im {
        width: 3.5rem;
        height: 3.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.1rem 0.1rem 0rem;
      }
      .tanggapbanjir-bvR {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #f8f5e7;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .daftar-6MP {
      width: 13.3rem;
      left: 104.1rem;
      top: 3rem;
      font-weight: 700;
      font-size: 1.6rem;
      white-space: nowrap;
      background-color: #fefefe;
      border-radius: 1rem;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
      justify-content: center;
      height: 4rem;
      position: absolute;
      line-height: 1.5;
      color: #2c2902;
      display: flex;
    }
    .bgnavbar-8Yy {
      width: 144rem;
      height: 10rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #2c2902;
    }
    .beranda-f37 {
      font-weight: 700;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.7rem;
      cursor: pointer;
      left: 57.2rem;
      top: 3.9rem;
      height: 2.4rem;
      position: absolute;
      font-size: 1.6rem;
      color: #f8f5e7;
    }
    .kontak-G2u {
      white-space: nowrap;
      width: 6.3rem;
      cursor: pointer;
      position: absolute;
      top: 3.9rem;
      line-height: 1.5;
      color: #f8f5e7;
      height: 2.4rem;
      left: 79.4rem;
      font-size: 1.6rem;
      font-weight: 400;
      font-family: Poppins, 'Source Sans Pro';
    }
    .layanan-ZGu {
      font-size: 1.6rem;
      white-space: nowrap;
      width: 7.2rem;
      height: 2.4rem;
      top: 3.9rem;
      font-weight: 400;
      line-height: 1.5;
      color: #f8f5e7;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 68.1rem;
    }
    .masuk-4zM {
      width: 5.5rem;
      height: 2.4rem;
      left: 121.1rem;
      top: 3.7rem;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #f3faec;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      font-weight: 400;
    }
  }
  .auto-group-wujw-BJH {
    padding: 4.1rem 31.775rem 4.1rem 32rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 13.1rem 4.2rem 13.2rem;
    box-sizing: border-box;
    width: calc(100% - 26.3rem);
    align-items: center;
    background-color: #f3faec;
    border-radius: 1rem;

    .isian-daftar-akun-4cy {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 1.5rem;
      flex-shrink: 0;
      margin-bottom: 4.5rem;

      .daftar-akun-aLR {
        color: #2c2902;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4.2rem 0rem;
        line-height: 1.5;
        font-weight: 700;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
      }
      .auto-group-jwzd-63s {
        height: 9.2rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        width: 100%;

        .nama-qGM {
          line-height: 1.5;
          color: #2c2902;
          white-space: nowrap;
          width: 4.4rem;
          height: 2.1rem;
          position: absolute;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          left: 0;
          top: 0;
          font-size: 1.4rem;
        }
        .rectangle-3-MVb {
          top: 1.9rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 53.9251rem;
          height: 7.3rem;
          position: absolute;
          left: 0;
        }
      }
      .auto-group-brob-FL5 {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        width: 100%;
        height: 9.4rem;

        .rectangle-8-zoT {
          left: 0;
          top: 1.9rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 53.9251rem;
          height: 7.5rem;
          position: absolute;
        }
        .nama-pengguna-Kaq {
          left: 0;
          font-weight: 400;
          width: 11.9rem;
          position: absolute;
          top: 0;
          font-size: 1.4rem;
          line-height: 1.5;
          color: #2c2902;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.1rem;
        }
      }
      .auto-group-zqad-SQZ {
        margin-bottom: 1rem;
        width: 100%;
        height: 9.4rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-9-NJD {
          top: 1.9rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 53.9251rem;
          height: 7.5rem;
          position: absolute;
          left: 0;
        }
        .email-wEq {
          left: 0;
          font-size: 1.4rem;
          color: #2c2902;
          white-space: nowrap;
          width: 3.8rem;
          height: 2.1rem;
          position: absolute;
          font-family: Poppins, 'Source Sans Pro';
          top: 0;
          font-weight: 400;
          line-height: 1.5;
        }
      }
      .auto-group-cajv-SSV {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1rem;
        width: 100%;
        height: 9.4rem;

        .rectangle-10-Bus {
          border-radius: 1.5rem;
          width: 53.9251rem;
          height: 7.5rem;
          position: absolute;
          left: 0;
          top: 1.9rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
        }
        .kata-sandi-i97 {
          font-family: Poppins, 'Source Sans Pro';
          position: absolute;
          top: 0;
          font-weight: 400;
          line-height: 1.5;
          color: #2c2902;
          white-space: nowrap;
          width: 7.6rem;
          height: 2.1rem;
          left: 0;
          font-size: 1.4rem;
        }
      }
      .auto-group-y7jx-1P7 {
        height: 9.4rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .rectangle-11-LwB {
          left: 0;
          top: 1.9rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 1.5rem;
          width: 53.9251rem;
          height: 7.5rem;
          position: absolute;
        }
        .konfirmasi-ulang-kata-sandi-Tku {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 19.9rem;
          position: absolute;
          font-size: 1.4rem;
          color: #2c2902;
          line-height: 1.5;
          height: 2.1rem;
          left: 0;
          top: 0;
          font-weight: 400;
        }
      }
    }
    .daftar-AQR {
      background-color: #82cd47;
      width: calc(100% - 35.6184rem);
      height: 5.9rem;
      font-weight: 600;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      color: #2c2902;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1.5rem;
      cursor: pointer;
      font-size: 2.4rem;
      line-height: 1.5;
      margin: 0rem 17.809rem 0rem 17.809rem;
      text-align: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
  }
  .footer-Yfs {
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-tb2z-tzd {
      width: 100%;
      height: 43.5rem;
      position: relative;
      background-color: #2c2902;
      flex-shrink: 0;

      .auto-group-jhyd-pdP {
        align-items: center;
        width: 91.7rem;
        height: 3.6rem;
        position: absolute;
        left: 15rem;
        top: 2.8rem;
        display: flex;

        .tentang-kita-wT7 {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 30.7rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
        }
        .kontak-fe1 {
          margin-right: 30.6rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .tags-D9j {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
      .auto-group-e76z-wbX {
        align-items: center;
        width: 115.2rem;
        height: 9.7rem;
        position: absolute;
        left: 15rem;
        top: 9.1rem;
        display: flex;

        .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-riV {
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 10.3rem 0rem 0rem;
          max-width: 33.9rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-94g1-hj7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0.2rem 0.5rem 0.3rem 0rem;
          height: calc(100% - 0.5rem);
          row-gap: 2rem;
          align-items: flex-end;

          .vector-o1T {
            height: 1.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.4rem;
          }
          .telephone-call-2-1-jvh {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 1.7rem;
            height: 1.7rem;
          }
          .auto-group-rauf-5Um {
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-5kbw-pSM {
          flex-shrink: 0;
          margin: 0rem 17.5rem 0.1rem 0rem;
          display: flex;
          flex-direction: column;

          .jalan-mawar-no01-jakarta-MSH {
            margin-bottom: 1.3rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-0812-8764-8757-pDP {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
          }
          .tanggapbanjirgmailcom-8js {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
            color: #f3faec;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-nqth-fjo {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 29.5rem;

          .auto-group-qwrm-cQ9 {
            box-sizing: border-box;
            padding-bottom: 0.3rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-ospy-kWM {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 8.7rem 0.3rem 0rem;
              width: calc(100% - 8.7rem);
              height: 3rem;

              .auto-group-hntj-4mw {
                height: 100%;
                font-size: 1.4rem;
                white-space: nowrap;
                align-items: center;
                border-radius: 1rem;
                background-color: #f3faec;
                justify-content: center;
                flex-shrink: 0;
                margin-right: 0.3rem;
                width: 10rem;
                font-weight: 400;
                line-height: 1.5;
                color: #2c2902;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
              }
              .auto-group-gwzw-7kD {
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                width: 10.5rem;
                font-size: 1.4rem;
                color: #000000;
                justify-content: center;
                background-color: #f3faec;
                border-radius: 1rem;
                flex-shrink: 0;
                height: 100%;
                font-weight: 400;
                line-height: 1.5;
                white-space: nowrap;
                align-items: center;
              }
            }
            .auto-group-a1mb-bvH {
              margin-right: 2.5rem;
              width: calc(100% - 2.5rem);
              height: 3rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-ma8h-vhf {
                white-space: nowrap;
                font-weight: 400;
                height: 100%;
                color: #000000;
                margin-right: 0.4rem;
                justify-content: center;
                border-radius: 1rem;
                line-height: 1.5;
                font-size: 1.4rem;
                font-family: Poppins, 'Source Sans Pro';
                display: flex;
                align-items: center;
                background-color: #f3faec;
                flex-shrink: 0;
                width: 14.9rem;
              }
              .auto-group-aknh-DAy {
                line-height: 1.5;
                white-space: nowrap;
                height: 100%;
                font-size: 1.4rem;
                color: #000000;
                align-items: center;
                background-color: #f3faec;
                border-radius: 1rem;
                width: 11.7rem;
                font-weight: 400;
                display: flex;
                flex-shrink: 0;
                font-family: Poppins, 'Source Sans Pro';
                justify-content: center;
              }
            }
          }
          .auto-group-eflm-JTK {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 3rem;

            .auto-group-qpdf-dkV {
              height: 100%;
              white-space: nowrap;
              align-items: center;
              font-size: 1.4rem;
              line-height: 1.5;
              background-color: #f3faec;
              flex-shrink: 0;
              width: 12.5rem;
              font-weight: 400;
              color: #000000;
              display: flex;
              justify-content: center;
              border-radius: 1rem;
              margin-right: 0.4rem;
              font-family: Poppins, 'Source Sans Pro';
            }
            .auto-group-xbzb-vUh {
              font-size: 1.4rem;
              font-weight: 400;
              font-family: Poppins, 'Source Sans Pro';
              border-radius: 1rem;
              justify-content: center;
              height: 100%;
              color: #000000;
              display: flex;
              background-color: #f3faec;
              flex-shrink: 0;
              width: 16.6rem;
              line-height: 1.5;
              white-space: nowrap;
              align-items: center;
            }
          }
        }
      }
      .line-1-1m3 {
        width: 10.5043rem;
        height: 0.5rem;
        position: absolute;
        left: 15.3979rem;
        top: 6.95rem;
        background-color: #f3faec;
      }
      .auto-group-jy4h-wPo {
        display: flex;
        align-items: flex-end;
        width: 67.7rem;
        height: 3.3rem;
        position: absolute;
        left: 59.4rem;
        top: 19.1rem;

        .vector-F9b {
          margin: 0rem 0.6rem 0.4rem 0rem;
          width: 1.4rem;
          height: 1.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .senin-minggu-24-jam-mNq {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.2rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .auto-group-2cqf-VZj {
          width: 14.3rem;
          background-color: #f3faec;
          margin: 0rem 0.3rem 0.3rem 0rem;
          font-weight: 400;
          white-space: nowrap;
          border-radius: 1rem;
          height: 3rem;
          font-family: Poppins, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          line-height: 1.5;
          color: #000000;
          display: flex;
          flex-shrink: 0;
        }
        .auto-group-vp5k-BBf {
          line-height: 1.5;
          color: #000000;
          flex-shrink: 0;
          white-space: nowrap;
          justify-content: center;
          margin-bottom: 0.3rem;
          width: 11.8rem;
          height: 3rem;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #f3faec;
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          border-radius: 1rem;
        }
      }
      .auto-group-cupm-Tus {
        top: 22.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        height: 3rem;
        white-space: nowrap;
        align-items: center;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.5;
        color: #000000;
        background-color: #f3faec;
        border-radius: 1rem;
        left: 100.7rem;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 18rem;
      }
      .line-2-x5w {
        height: 0.5rem;
        position: absolute;
        left: 12.1992rem;
        top: 28.5rem;
        background-color: #f3faec;
        width: 118.0015rem;
      }
      .hubungi-kami-5wF {
        line-height: 1.5;
        color: #f3faec;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.6rem;
        font-size: 1.6rem;
        left: 65.4rem;
        top: 29.8rem;
        font-weight: 600;
        height: 2.4rem;
        position: absolute;
      }
      .auto-group-bcts-zoK {
        height: 4.3rem;
        position: absolute;
        left: 21.1rem;
        top: 33.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;

        .auto-group-tqld-uvH {
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tanggapbanjirgmailcom-drH {
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .auto-group-6az7-wry {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.1rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-sEq {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 3.5rem 0.5rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-cxum-bAq {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
          width: 4.2rem;
          height: 4.2rem;
          position: relative;
        }
        .tanggapbanjir123-K6q {
          flex-shrink: 0;
          margin: 0rem 4.4rem 0.3rem 0rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-vu8h-dtD {
          width: 4.2rem;
          height: 4.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.3rem 0rem 0rem;
        }
        .tanggapbanjir123-Xih {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #f3faec;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-om3f-d13 {
      display: flex;
      align-items: center;
      background-color: rgba(44, 41, 2, 0.5);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 66.713rem 0.2rem 66.7rem;
      width: 100%;

      .copyright2023-wGd {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(44, 41, 2, 0.5);
        font-family: Poppins, 'Source Sans Pro';
      }
      .icon-copyright-sAH {
        margin-bottom: 0.0126rem;
        width: 1.3874rem;
        height: 1.3874rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
