
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.panduanedukasiselengkapnya-4JD {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #82cd47;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT {
  box-sizing: border-box;
  padding: 3rem 13.3rem;
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .auto-group-rogv-Usj {
  margin: 0rem 3.2rem 0.5rem 0rem;
  width: 51.6rem;
  height: 3.5rem;
  position: relative;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .auto-group-rogv-Usj .tanggapbanjir-ntR {
  width: 18.6rem;
  height: 3rem;
  position: absolute;
  left: 4.6rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f8f5e7;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .auto-group-rogv-Usj .logo-H4V {
  width: 51.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .auto-group-rogv-Usj .logo-H4V .logo-1-2Gy {
  margin-right: 40.4rem;
  width: 3.5rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .auto-group-rogv-Usj .logo-H4V .beranda-Mq3 {
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #f8f5e7;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .layanan-VRT {
  margin: 0.2rem 4.1rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f8f5e7;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .kontak-oh3 {
  margin: 0.2rem 22rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f8f5e7;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .daftar-7xd {
  margin: 0.2rem 3.7rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f8f5e7;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-ok6r-aXT .masuk-Szu {
  width: 13.3rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c2902;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb {
  box-sizing: border-box;
  padding: 4.3rem 12.5rem 4.1rem 13rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .pencarian-eLH {
  margin: 0rem 5.1rem 3.6rem 4.7rem;
  box-sizing: border-box;
  padding: 0.9rem 1.9rem 1.4rem 2rem;
  width: calc(100% - 9.8rem);
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .pencarian-eLH .search-1-Xus {
  margin-right: 4.4rem;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .pencarian-eLH .vidio-edukasi-bencana-banjir-sTw {
  margin-right: 43.9rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .pencarian-eLH .enter-1-BzR {
  margin-top: 0.5rem;
  width: 6.6rem;
  height: 4.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK {
  margin: 0rem 0.2rem 4.3rem 0.3rem;
  width: calc(100% - 0.5rem);
  height: 21.2rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .rectangle-30-CuX {
  width: 118rem;
  height: 20.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2c2902;
  border-radius: 1rem;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .jakarta-25-september-2023-LVw {
  width: 19.6rem;
  height: 2.1rem;
  position: absolute;
  left: 40.6rem;
  top: 17.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .gambarcara-2tZ {
  width: 38.6rem;
  height: 20.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .sosialisasi-cara-penanggulangan-bencana-banjir-mbF {
  width: 51rem;
  height: 3rem;
  position: absolute;
  left: 40.4rem;
  top: 4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .follow-Tiy {
  width: 15rem;
  height: 5.0856rem;
  position: absolute;
  left: 100.2rem;
  top: 8.7rem;
  object-fit: cover;
  vertical-align: top;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .logoyt-zU1 {
  width: 3.2rem;
  height: 3.4rem;
  position: absolute;
  left: 40.3rem;
  top: 9.5rem;
  object-fit: cover;
  vertical-align: top;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .arieprabowo-8aD {
  width: 15.5rem;
  height: 3rem;
  position: absolute;
  left: 44.7rem;
  top: 9.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid5-VVK .rb-subscriber-35-video-TMb {
  width: 28.2rem;
  height: 3rem;
  position: absolute;
  left: 40.6rem;
  top: 13.9rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH {
  margin: 0rem 0rem 5rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .gambarcara-sgD {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs .sosialisasi-cara-penanggulangan-bencana-banjir-UAD {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs .auto-group-7x1t-aj3 {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs .auto-group-7x1t-aj3 .logoyt-KAq {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs .auto-group-7x1t-aj3 .arieprabowo-TXw {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs .rb-subscriber-35-video-13f {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .auto-group-5ce5-XVs .jakarta-25-september-2023-XXo {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid4-mNH .auto-group-upft-1XX .follow-esK {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D {
  margin: 0rem 0rem 5rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .gambarcara-uYM {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD .sosialisasi-cara-penanggulangan-bencana-banjir-uwf {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD .auto-group-7s7f-cLH {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD .auto-group-7s7f-cLH .logoyt-w7f {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD .auto-group-7s7f-cLH .arieprabowo-UdP {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD .rb-subscriber-35-video-Dqs {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .auto-group-yjwq-yYD .jakarta-25-september-2023-MBP {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-P4D .auto-group-8ac9-FMK .follow-V2h {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV {
  margin: 0rem 0rem 5rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .gambarcara-9N9 {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h .sosialisasi-cara-penanggulangan-bencana-banjir-mPX {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h .auto-group-upff-47j {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h .auto-group-upff-47j .logoyt-Bi9 {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h .auto-group-upff-47j .arieprabowo-ixy {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h .rb-subscriber-35-video-GDo {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .auto-group-1twh-E8h .jakarta-25-september-2023-nT3 {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-DUV .auto-group-e5hb-VB7 .follow-Wdw {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf {
  margin: 0rem 0rem 5rem 0.5rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .gambarcara-ATb {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD .sosialisasi-cara-penanggulangan-bencana-banjir-NpZ {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD .auto-group-mgid-6Em {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD .auto-group-mgid-6Em .logoyt-ciu {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD .auto-group-mgid-6Em .arieprabowo-ZPF {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD .rb-subscriber-35-video-ui1 {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .auto-group-5mlm-SAD .jakarta-25-september-2023-2nd {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-dTf .auto-group-lpsx-6s3 .follow-ZnZ {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM {
  margin: 0rem 0.5rem 5rem 0rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .gambarcara-Edo {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy .sosialisasi-cara-penanggulangan-bencana-banjir-TWZ {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy .auto-group-xeed-mn9 {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy .auto-group-xeed-mn9 .logoyt-Jn5 {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy .auto-group-xeed-mn9 .arieprabowo-FBX {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy .rb-subscriber-35-video-bFP {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .auto-group-phvb-iYy .jakarta-25-september-2023-XPw {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid3-JEM .auto-group-q8au-ybP .follow-ejT {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw {
  margin: 0rem 0.5rem 5rem 0rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .gambarcara-HXX {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX .sosialisasi-cara-penanggulangan-bencana-banjir-Soj {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX .auto-group-hizm-ZNZ {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX .auto-group-hizm-ZNZ .logoyt-J5F {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX .auto-group-hizm-ZNZ .arieprabowo-SSM {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX .rb-subscriber-35-video-PMb {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .auto-group-4zhf-JhX .jakarta-25-september-2023-uKw {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid2-yFw .auto-group-ydw7-yQM .follow-qUV {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo {
  margin: 0rem 0.5rem 4.5rem 0rem;
  width: calc(100% - 0.5rem);
  height: 20.5rem;
  display: flex;
  align-items: center;
  background-color: #2c2902;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .gambarcara-uUM {
  width: 38.6rem;
  height: 20.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT {
  box-sizing: border-box;
  padding: 4rem 2.8rem 0.6rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 {
  margin-right: 8.8rem;
  width: 51.1rem;
  height: 100%;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 .sosialisasi-cara-penanggulangan-bencana-banjir-veM {
  margin: 0rem 0rem 2.5rem 0.1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 .auto-group-q46v-r2D {
  margin: 0rem 31.2rem 1rem 0rem;
  width: calc(100% - 31.2rem);
  display: flex;
  align-items: flex-start;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 .auto-group-q46v-r2D .logoyt-ysX {
  margin-right: 1.2rem;
  width: 3.2rem;
  height: 3.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 .auto-group-q46v-r2D .arieprabowo-Xe9 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 .rb-subscriber-35-video-UZP {
  margin: 0rem 0rem 0.9rem 0.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fdfbfb;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .auto-group-9j4d-yz1 .jakarta-25-september-2023-znd {
  margin-left: 0.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #b6b8b5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .vid1-yKo .auto-group-3xkm-3qT .follow-iyX {
  margin-bottom: 1.4144rem;
  width: 15rem;
  height: 5.0856rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ {
  margin-right: 0.5rem;
  width: calc(100% - 0.5rem);
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ .sebelumnya-Q5f {
  margin-right: 70.6rem;
  box-sizing: border-box;
  padding: 2rem 3rem 2rem 3.1rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ .sebelumnya-Q5f .icon-arrow-right-tWd {
  margin: 0rem 1.7rem 0.1rem 0rem;
  width: 2.8rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ .sebelumnya-Q5f .sebelumnya-oNh {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c2902;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ .selanjutnya-ikZ {
  box-sizing: border-box;
  padding: 2rem 3.5rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ .selanjutnya-ikZ .selanjutnya-G1P {
  margin-right: 1.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #2c2902;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .auto-group-1ewd-LKb .auto-group-resb-FiZ .selanjutnya-ikZ .icon-arrow-right-QNV {
  margin-top: 0.1rem;
  width: 2.8rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 {
  width: 100%;
  height: 43.5rem;
  position: relative;
  background-color: #2c2902;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-ss3j-oQd {
  width: 91.7rem;
  height: 3.6rem;
  position: absolute;
  left: 15rem;
  top: 2.8rem;
  display: flex;
  align-items: center;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-ss3j-oQd .tentang-kita-inV {
  margin-right: 30.7rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-ss3j-oQd .kontak-eRF {
  margin-right: 30.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-ss3j-oQd .tags-n1f {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF {
  width: 115.2rem;
  height: 9.7rem;
  position: absolute;
  left: 15rem;
  top: 9.1rem;
  display: flex;
  align-items: center;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .bukan-hanya-tindakan-kita-adalah-cermin-hati-yang-tulus-bersama-sama-kita-menjadikan-dunia-ini-tempat-yang-lebih-baik-bagi-mereka-yang-membutuhkan-qkd {
  margin: 0.1rem 10.3rem 0rem 0rem;
  max-width: 33.9rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-hmir-tU1 {
  margin: 0.2rem 0.5rem 0.3rem 0rem;
  height: calc(100% - 0.5rem);
  row-gap: 2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-hmir-tU1 .vector-QhF {
  width: 1.4rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-hmir-tU1 .telephone-call-2-1-9eq {
  width: 1.7rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-hmir-tU1 .auto-group-r4mw-guf {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-jpf7-RsF {
  margin: 0rem 17.5rem 0.1rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-jpf7-RsF .jalan-mawar-no01-jakarta-kuX {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-jpf7-RsF .item-0812-8764-8757-5gu {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-jpf7-RsF .tanggapbanjirgmailcom-ocu {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV {
  margin-bottom: 0.1rem;
  width: 29.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny {
  box-sizing: border-box;
  padding-bottom: 0.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny .auto-group-la3b-SQy {
  margin: 0rem 8.7rem 0.3rem 0rem;
  width: calc(100% - 8.7rem);
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny .auto-group-la3b-SQy .auto-group-fh3x-xu7 {
  margin-right: 0.3rem;
  width: 10rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2c2902;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny .auto-group-la3b-SQy .auto-group-vad7-eX3 {
  width: 10.5rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny .auto-group-d7n9-9Cu {
  margin-right: 2.5rem;
  width: calc(100% - 2.5rem);
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny .auto-group-d7n9-9Cu .auto-group-vtb7-gTj {
  margin-right: 0.4rem;
  width: 14.9rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-apiy-Hny .auto-group-d7n9-9Cu .auto-group-ppgz-ySq {
  width: 11.7rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-r9zj-fKf {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-r9zj-fKf .auto-group-fjbj-1eR {
  margin-right: 0.4rem;
  width: 12.5rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-rshw-WyF .auto-group-t5nq-YaV .auto-group-r9zj-fKf .auto-group-v4gh-WLH {
  width: 16.6rem;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .line-1-zFT {
  width: 10.5043rem;
  height: 0.5rem;
  position: absolute;
  left: 15.3979rem;
  top: 6.95rem;
  background-color: #f3faec;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-z2yy-utD {
  width: 67.7rem;
  height: 3.3rem;
  position: absolute;
  left: 59.4rem;
  top: 19.1rem;
  display: flex;
  align-items: flex-end;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-z2yy-utD .vector-dZK {
  margin: 0rem 0.6rem 0.4rem 0rem;
  width: 1.4rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-z2yy-utD .senin-minggu-24-jam-ZSy {
  margin-right: 20.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-z2yy-utD .auto-group-s6oj-h3P {
  margin: 0rem 0.3rem 0.3rem 0rem;
  width: 14.3rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-z2yy-utD .auto-group-ltub-ymb {
  margin-bottom: 0.3rem;
  width: 11.8rem;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-ubvb-fuK {
  width: 18rem;
  height: 3rem;
  position: absolute;
  left: 100.7rem;
  top: 22.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3faec;
  border-radius: 1rem;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .line-2-wrq {
  width: 118.0015rem;
  height: 0.5rem;
  position: absolute;
  left: 12.9992rem;
  top: 28.5rem;
  background-color: #f3faec;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .hubungi-kami-HQu {
  width: 11.6rem;
  height: 2.4rem;
  position: absolute;
  left: 65.4rem;
  top: 29.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH {
  width: 99.6rem;
  height: 4.3rem;
  position: absolute;
  left: 21.1rem;
  top: 33.5rem;
  display: flex;
  align-items: center;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .auto-group-uuc1-VWy {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .tanggapbanjirgmailcom-217 {
  margin: 0rem 2.5rem 0.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .auto-group-zr7f-LGh {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 4.2rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .tanggapbanjir123-eoB {
  margin: 0rem 3.5rem 0.5rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .auto-group-7wup-nPb {
  margin: 0.1rem 1.3rem 0rem 0rem;
  width: 4.2rem;
  height: 4.2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .tanggapbanjir123-Jsj {
  margin: 0rem 4.4rem 0.3rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .auto-group-mrtt-qcm {
  margin: 0.1rem 1.3rem 0rem 0rem;
  width: 4.2rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-vq57-sG5 .auto-group-b5vz-BWH .tanggapbanjir123-mFX {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #f3faec;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-kdsf-HzZ {
  box-sizing: border-box;
  padding: 0.3rem 66.713rem 0.2rem 66.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(44, 41, 2, 0.5);
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-kdsf-HzZ .copyright2023-pjb {
  margin-right: 0.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(44, 41, 2, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.panduanedukasiselengkapnya-4JD .footer-uq3 .auto-group-kdsf-HzZ .icon-copyright-k7T {
  margin-bottom: 0.0126rem;
  width: 1.3874rem;
  height: 1.3874rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
